#css_float{
	background: #E4E4E4;
}

#duong_bao{
	width: 700px;
	min-height:400px;
	background: white;
	margin: 0 auto; /*Căn giữa đối tượng*/
}

#css_float #duong_bao #hop_1{
	width: 300px; height: 100px; background: yellow;
	float:right;
}

#css_float #duong_bao #hop_2{
	width: 200px; height: 120px; background: orange;
	float:right;
}

#css_float #duong_bao #hop_3{
	width: 250px; height: 80px; background: violet;
	float:left;
}

#css_float #duong_bao #hop_4{
	width: 320px; height: 100px; background: green;
	float:right;
}

#css_float #duong_bao #hop_5{
	width: 120px; height: 50px; background: red;
	float:inherit;
}

#css_margin_padding {
	background: #c3c3c3
}

#css_margin_padding #duong_bao #hop_1{
	width: 300px; height: 100px; background: yellow;
	margin: 30px 20px 20px 10px;
	float:left;
}

#css_margin_padding #duong_bao #hop_2{
	width: 320px; height: 220px; background: orange;
	float:left;
	padding: 30px 20px 20px 10px;
}

#css_margin_padding #duong_bao #hop_3{
	width: 120px; height: 120px; background: green;
	float:left;
	margin-left: 20px;
}

#css_text_font #vanban_1{
	text-transform: uppercase;
}

#css_text_font #vanban_2{
	text-transform: lowercase;
}

#css_text_font #vanban_3{
	text-transform: capitalize;
}

#css_text_font #vanban_4{
	text-decoration: underline;
}

#css_text_font #vanban_5{
	text-decoration: line-through;
}

#css_text_font #vanban_6{
	line-height: 50px;
}

/* Lab CSS Position */
#css_position{background:#333}

#css_position #duong_bao{
	background: white;
	width: 80%;
	margin: 0 auto;
	position: relative;
}

#css_position #duong_bao #hop_1{
	width: 100px; height: 100px; background: orange;
	position: fixed;
	top: 300px;
	right: 0px;
}

#css_position #duong_bao #hop_2{
	width: 100px; height: 100px; background: green;
	position: absolute;
	top: 100px;
	right: 50px;
}




