*
{
	margin:0; padding:0;
}
header
{
	position: absolute;
    top: 0;
    min-width: 1024px;
    background: #fed700;
    width: 100%;
    height: 55px;
	text-align:center;
}

.menu 
{
	max-width: 1208px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    background: #000;
    margin: auto;
    position: relative;
    display: block;
}

#list_2{
	list-style-type:none;
	
}

#list_2 li{
	display: inline;
    line-height: 23px;
    text-transform: uppercase;
    background-color: #FED700;
    float: left;
    height: 27px;
    font-size: 11px;
    padding: 0px 10px 28px 10px;
    text-align: center;
}

#list_2 li:hover{
	cursor:pointer;
	background-color:#B9BBC0;
}

#list_2 li i{
	width: 16px;
    height: 25px;
    display: block;
    margin: 6px auto 3px;
	background-image: url('hinhanh/icondesktop@1x.png');
	background-repeat:no-repeat;
}

#list_2 li i.dt{
	background-position: -190px 0;
}

#list_2 li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#list_2 li i.lt{
	width: 40px;
    background-position: -245px 0;
}#list_2 li i.pk{
	width: 25px;
    background-position: -287px 0;
}
#list_2 li i.cgr{
	width: 34px;
    background-position: -315px 0;
}
#list_2 li i.km{
	width: 22px;
    background-position: -475px 0;
}#list_2 li i.cn{
	width: 29px;
    background-position: -376px 0;
}
#list_2 li i.hd{
	width: 25px;
    background-position: -409px 0;
}
#list_2 li.ss
{
	text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    border-left: 1px solid rgba(0,0,0,.1);
	line-height:27px;
}
#list_2 li.dt
{
	width:113px;
	text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    border-left: 1px solid rgba(0,0,0,.1);
	line-height:27px;
}
.may 
{
	display: block;
    position: absolute;
    top: 10px;
    width: 23px;
    margin: auto;
    left: 117px;
    right: 0;
    font-size: 11px;
}
.tin	
{
	display: block;
    position: absolute;
    top: 6px;
    width: 23px;
    margin: auto;
    left: 455px;
    right: 0;
    font-size: 11px;
}
.icontgdd-logo {
    background-position: 0 0;
    width: 156px;
    height: 30px;
    display: block;
    margin: auto;
	background-image: url('hinhanh/icondesktop@1x.png');
}
.logo {
    float: left;
    width: 165px;
    display: block;
    padding: 14px 0 11px 5px;
}
#search-site {
    float: left;
    width: 230px;
    height: 35px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.topinput {
    float: left;
    width: 162px;
    margin-left: 5px;
    padding-top: 5px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0;
	background-image: url('hinhanh/icondesktop@1x.png');	
}












