*{
	margin:0;
	padding:0;
	font-family:arial;
}
#body
{
	width:1366px;
	height:768px;
	background-color:#928585;
}
#header
{
	width:1366px;
	height:250px;
	background-color:#1FB249;
	background-image:url(hinhanh/header.jpg);
}
#navigation
{
	width:1366px;
	height:50px;
	background-color:#387CB8;
	margin-top: 10px;
}
#navigation ul
{
	width:1366px;
	text-align:center;
}
#navigation ul li
{
	width:200px;
	text-align:center;
	list-style-type:none;
	line-height:50px;
	text-decoration:none;
	
	position:relative;
	display:inline-table;
}
#navigation ul li a
{
	text-decoration:none;
	display:block;
	color:black;
}
#navigation ul li:hover
{
	width:200px;
	background-color:green;
}
#content
{
	width:1066px;
	height:400px;
	background-color:#E8DE2A;
	float:left;
}
#sidebar
{
	width:300px;
	height:400px;
	background-color:#03F1E1;
	float:right;
}
#footer
{
	width:1366px;
	height:68px;
	background-color:#2703F1;
}
#textbox
{
	width:200px;
	height:200px;
	margin: 20px 0 0 20px;
	position: relative;
	background-color:#2703F1;
}

#textbox_1
{
	position: absolute;
}
#textbox_2
{
	
}
#text_3
{
	
}
#text_4
{
	
}
#text_5
{
	
}