<html> 
    <head>
	    <meta charset="utf-8"/>
		<title> trang chu the gioi di dong</title>
		<link rel="stylesheet" href="dienthoai.css"/>
	</head>
	<body>
	    <!--------------header---------------------------------->
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
				    <input type="text" size="30" placeholder="Bạn tìm gì..." id="txtsearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
				     <li>
			            <i class="icon dt"></i>
			            điện thoại
			         </li>
			         <li>
			            <i class="icon tb"></i>
			            table
			         </li>
			         <li>
			            <i class=" icon lt"></i>
			            laptop
			         </li>
			         <li>
			            <i class="icon pk"></i>
			            phụ kiện
			         </li>
			         <li>  
			            <i class="icon gr"></i>
			            cũ giá rẻ
			         </li>
			         <li>
			            <i class="icon km"></i>
			            khuyến mãi
			         </li>
			         <li>
			            <i class="icon cn"></i>
						Công nghệ
                     </li>                
			         <li> 
			            <i class="icon hd"></i>
			            hỏi đáp
			         </li>
			         <li> Sim số <br> Thẻ Cào</li>
			         <li> Đóng tiền điện, nước trả góp </li>
			         </ul>
			</div>	
		</div>
		
		<!----------------------Nội dung------------------------------------------------>
        <div id="content" class="wrapper"> 
			
			<div  class="ten">
			    <h1>Điện thoại Samsung Galaxy J8</h1>
			</div>
		
		
		
		</div>
	
		
	</body>
</html>