<html> 
    <head>
	    <meta charset="utf-8"/>
		<title> trang chu the gioi di dong</title>
		<link rel="stylesheet" href="dienthoai.css"/>
	</head>
	<body>
	    <!--------------header---------------------------------->
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
				    <input type="text" size="30" placeholder="Bạn tìm gì..." id="txtsearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
				     <li>
			            <i class="icon dt"></i>
			            điện thoại
			         </li>
			         <li>
			            <i class="icon tb"></i>
			            table
			         </li>
			         <li>
			            <i class=" icon lt"></i>
			            laptop
			         </li>
			         <li>
			            <i class="icon pk"></i>
			            phụ kiện
			         </li>
			         <li>  
			            <i class="icon gr"></i>
			            cũ giá rẻ
			         </li>
			         <li>
			            <i class="icon km"></i>
			            khuyến mãi
			         </li>
			         <li>
			            <i class="icon cn"></i>
						Công nghệ
                     </li>                
			         <li> 
			            <i class="icon hd"></i>
			            hỏi đáp
			         </li>
			         <li> Sim số <br> Thẻ Cào</li>
			         <li> Đóng tiền điện, nước trả góp </li>
			         </ul>
			</div>	
		</div>
		
		<!----------------------Nội dung------------------------------------------------>
        <div id="content" class="wrapper"> 
		<!------------------slide-quảng cáo-------------------------------------->
		    <div id="line-1">
				<div id="slider">
					<img class="slider-images" src="../hinhanh/qcao-dt.png" />
					<div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div> 
		        </div>
		    
			    <div id="adv-1">
			         <ul class="anh-qcao">
				         <li><a href="#"><img src="../hinhanh/adv.png"/></a></li>
				     	<li><a href="#"><img src="../hinhanh/adv1.png"/></a></li>
				     </ul>
			    </div>
			</div>
		<!------------bảng danh sách----------------------------------------------------------->
		<table id="table" border="1">
		    <tbody>
			    <tr>
				    <td> <img src="../hinhanh/1.jpg" /> </td>
					<td> <img src="../hinhanh/2.jpg" /> </td>
					<td> <img src="../hinhanh/3.jpg" /> </td>
					<td> <img src="../hinhanh/4.jpg" /> </td>
					<td> <img src="../hinhanh/5.jpg" /> </td>
					<td> <img src="../hinhanh/6.jpg" /> </td>
					<td> <img src="../hinhanh/7.jpg" /> </td>
					<td> <img src="../hinhanh/9.jpg" /> </td>
				</tr>
				<tr>
				    <td> <img src="../hinhanh/10.jpg" /> </td>
					<td> <img src="../hinhanh/11.jpg" /> </td>
					<td> <img src="../hinhanh/12.jpg" /> </td>
					<td> <img src="../hinhanh/13.jpg" /> </td>
					<td> <img src="../hinhanh/14.jpg" /> </td>
					<td> <img src="../hinhanh/15.jpg" /> </td>
					<td> <img src="../hinhanh/16.jpg" /> </td>
					<td> <img src="../hinhanh/17.jpg" /> </td>
				</tr>
			</tbody>
		</table>
		
		<!-------------lựa chọn-------------------------------------------------------->
		 
		<div id="chon"> 
		    <ul id="list">
			    <li>Chọn mức giá :</li>
			    <li class="xanh"> Dưới 2 triệu</li>
				<li class="xanh">Từ 2-4 triệu</li>
				<li class="xanh">Từ 4-7 triệu</li>
				<li class="xanh"> Từ 7-13 triệu</li>
				<li class="xanh">Trên 13 triệu</li>
			    <li class="xanh"><input type="checkbox" value="moi"/> Mới</li>
				<li class="xanh"><input type="checkbox" value="tragop" checked /> Trả góp 0%</li>
				<li class="xanh">Tính tăng</li>
				<li class="xanh">Sắp xếp</li>
		    </ul>	
		</div>
		 
		 <!----------điện thoại nổi bật nhất------------------------------------------------>
		 
		<div class="product">
			    <div class="tieude"><h2>ĐIỆN THOẠI NỔI BẬT NHẤT</h2></div>
		</div>
		
		<div class="danhsach">
			<div class="sanpham-noibat">
				<a href="#">
					<img src="../hinhanh/dtdt.jpg" id="anh-noibat"/>
					<h3 class="tensp">Samsung Galaxy Note 128GB</h3>
					<p class="giasp"> Dự Kiến:24.490.000đ</p>
					<div class="khung">
					    <div class="km">Khuyến mãi</div>
						<p>-Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit<br>
						   -Phiếu mua hàng Samsung 1.000.000đ <br>
						   -Để sạc đôi không dây Samsung<br>
						   <p class="lket"> Xem thêm 2 khuyến mãi</p>
						</p>
					</div>
					<input class="mua" type="button" value="ĐẶT TRƯỚC"/>
			    </a>
		    </div>
				<!----------->
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb2.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy J8</h3>
					<p class="giasp">7.290.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 600.000đ qua quà tặng Galaxy và <strong>5 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
		    <div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb3.jpg"/>
					</div>
					<label class="dattruoc"> Đặt trước đến 17/8</label>
					<h3 class="tensp"> OPPO Find X</h3>
					<p class="giasp">20.990.000 đ</p>
					<div class="khuyenmai">
						<p>Tặngtai nghe cao cấp ,bảo hiểm rơi vỡ, trả góp 0%</p>
					</div>
				</a>
		    </div>	
		    <div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb4.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy J6</h3>
					<p class="giasp">5.290.000 đ</p>
					<div class="khuyenmai">
						<p>Thu cũ đổi mwois trợ giá 500.000đ và<strong>3 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
				<!---->
			<div class="sanpham-noibat">
				    <a href="#">
					    <img src="../hinhanh/dtdt1.jpg" id="anh-noibat"/>
						<div class="tensp"><h3>Samsung Galaxy A6 (2018)</h3></div>
						<p class="giasp"> 6.990.000đ</p>
					    <div class="khung">
					        <div class="km">Khuyến mãi</div>
						    <p>-Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit<br>
						      -Phiếu mua hàng Samsung 1.000.000đ <br>
						      -Để sạc đôi không dây Samsung<br>
						      <p class="lket"> Xem thêm 2 khuyến mãi</p>
						    </p>
					    </div>
					<input class="mua" type="button" value="ĐẶT TRƯỚC"/> 
					<input class="mua1" type="button" value="MUA TRẢ GÓP"/> 
					</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb6.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Nokia 3.1 32GB</h3>
					<p class="giasp">3.990.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb7.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Huawei Nova 3i</h3>
					<p class="giasp">6.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/nhiet.jpg"/>
						<p> Tặng bình giữ nhiệt inox khi mua online và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb8.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> iPhone 6 32GB</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<!----sp---------->
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d1.jpg"/>
					</div>
					<label class="dattruoc"> Đặt trước đến 09/08</label>
					<h3 class="tensp"> Xiaomi Mi A2</h3>
					<p class="giasp">6.690.000 đ</p>
					<div class="khuyenmai">
						<p>1000 suất tặng vòng đeo tay Mi Band 2, trả góp 0%</p>
					</div>
				</a>
			</div>
            <div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d2.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> Samsung Galaxy J7 Pro</h3>
					<p class="giasp">6.090.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d3.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> Samsung Galaxy J7+</h3>
					<p class="giasp">7.290.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d4.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp">Samsung Galaxy J7 Prime</h3>
					<p class="giasp">4.990.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d5.jpg"/>
					</div>
					<label class="giamgia"> Giảm 1.000.000đ</label>
					<h3 class="tensp">OPPO F7</h3>
					<p class="giasp">7.990.000 đ</p>
					<div class="khuyenmai">
						<img src="../hinhanh/nhiet.jpg"/>
						<p> Tặng bình giữ nhiệt inox khi mua online và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d6.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> OPPO F5 Youth</h3>
					<p class="giasp">5.990.000 đ</p>
					<div class="khuyenmai">
						<img src="../hinhanh/km.jpg"/>
						<p> Tặng phiếu mua hàng 200.000đ và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d7.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> Nokia 6 new</h3>
					<p class="giasp">5.990.000 đ</p>
					<div class="khuyenmai">
						<img src="../hinhanh/nhiet.jpg"/>
						<p> Tặng bình giữ nhiệt inox khi mua online và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d7.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> iPhone X 256GB Gray</h3>
					<p class="giasp">34.790.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm ngay 3 triệu khi thanh toán Online bằng thẻ Mastercard(Từ 1/8-31/8) và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d9.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> iPhone X 256GB Silver</h3>
					<p class="giasp">34.790.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm ngay 3 triệu khi thanh toán Online bằng thẻ Mastercard(Từ 1/8-31/8) và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d10.jpg"/>
					</div>
					<label class="giamgia"> Giảm 3.000.000đ</label>
					<h3 class="tensp"> iPhone X 64GB Gray</h3>
					<p class="giasp">29.990.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm ngay 3 triệu khi thanh toán Online bằng thẻ Mastercard(Từ 1/8-31/8) và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d11.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> iPhone X 63GB Silver</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm ngay 3 triệu khi thanh toán Online bằng thẻ Mastercard(Từ 1/8-31/8) và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d12.jpg"/>
					</div>
					<label class="giamgia">Đặt trước đến 14/08</label>
					<h3 class="tensp"> Samsung Galaxy Note 512GB</h3>
					<p class="giasp"> Dự kiến :29.490.000 đ</p>
					<div class="khuyenmai">
						<p>Tặng bộ quà 6 triệu, bảo hiểm rơi vỡ và trả góp 0%</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d13.jpg"/>
					</div>
					<label class="giamgia"> Giảm 1.000.000đ</label>
					<h3 class="tensp"> iPhone 8 Plus Red 256GB (Đỏ)</h3>
					<p class="giasp">28.790.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d14.jpg"/>
					</div>
					<label class="dattruoc">Giá rẻ Online</label>
					<h3 class="tensp"> iPhone 8 256GB</h3>
					<p class="giasp">23.790.000 đ</p>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d15.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> Samsung Galaxy S9+ 128GB</h3>
					<p class="giasp">24.490.000 đ</p>
					<div class="khuyenmai">
						<p>Thu cũ đổi mới trợ giá 1 triệu và<strong>4 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d16.jpg"/>
					</div>
					<label class="giamgia"> Giảm 1.00.000đ</label>
					<h3 class="tensp"> iPhone 8 Plus 64GB</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d17.jpg"/>
					</div>
					<label class="giamgia"> Giảm 1.000.000đ</label>
					<h3 class="tensp"> iPhone 8 Plus Red 64GB (Đỏ)</h3>
					<p class="giasp">23.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và<strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d18.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> Samsung Galaxy S9+ 64GB</h3>
					<p class="giasp">23.490.000 đ</p>
					<div class="khuyenmai">
						<p> Thu cũ đổi mới trợ giá 1 triệu và<strong>4 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d19.jpg"/>
					</div>
					<label class="giamgia"> Giảm 2.000.000đ</label>
					<h3 class="tensp"> Samsung Galaxy S9+ 64GB</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
						<p> Thu cũ đổi mới trợ giá 1 triệu  và<strong>4 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/d20.jpg"/>
					</div>
					<label class="giamgia"> Giảm 3.000.000đ</label>
					<h3 class="tensp"> Samsung Galaxy Note 8</h3>
					<p class="giasp">22.490.000 đ</p>
					<div class="khuyenmai">
						<p> Thu cũ đổi mới trợ giá 1 triệu  và<strong>3 K.mãi</strong> khác</p>
					</div>
				</a>
			</div>
			
			<input class="btn" type="button" value="Xem Thêm 151 điện thoại" align="center"/> 
		</div>
		<!--------------------------------->
		
		    <div id="chon"> 
		    <ul id="list">
			    <li class="xanh"> Dưới 2 triệu</li>
				<li class="xanh">Từ 2-4 triệu</li>
				<li class="xanh">Từ 4-7 triệu</li>
				<li class="xanh"> Từ 7-13 triệu</li>
				<li class="xanh">iPhone(Apple)</li>
			    <li class="xanh">Samsung</li>
				<li class="xanh">OPPO</li>
				<li class="xanh">Nokia</li>
				<li class="xanh">Bảo mật vân tay</li>
				<li class="xanh">Sạc pin cho thiết bị khác</li>
				<li class="xanh">Chống nước, bụi</li>
		    </ul>	
		    </div> 
		<!-------------------------------------->
		
			<div id="ttin">
			    <ul>
				    <li class="ds">Giao hàng hỏa tốc trong 1 giờ</li>
					<li class="ds">Thanh toán linh hoạt:tiền mặt, visa/ master, trả góp</li>
					<li class="ds">Trải nghiệm sản phẩm tại nhà</li>
					<li class="ds">Lỗi đổi tại nhà trong 1 ngày</li>
					<li class="ds"> Hỗ trợ thời gian sử dụng.<br> Hotline: 1800.1763</li>
				</ul>
			</div>
		</div>
		
		<!------------------------footer------------------------------------------------>
		
		<div id="footer">
		    <div class="footer-cot">
			    <ul class="dg">
				    <li> Tìm hiểu về mua trả góp</li>
					<li>Chính sách bảo hành</li>
					<li>Chính sách đổi trả</li>
					<li> Giao hàng & Thanh toán</li>
					<li> Xem thêm</li>
				</ul>
				<ul class="dg">
				    <li> Giới thiệu công ty (mwg.vn)</li>
					<li>Tuyển dụng</li>
					<li>Gửi góp ý , khiếu nại</li>
					<li>Tìm siêu thị (1695 shop)</li>
					<li> Xem Bản mobile</li>
				</ul>
				<ul class="dg">
				    <li>Gọi mua hàng <b>1800.1060</b> (7:30-22:00)</li>
					<li>Gọi khiếu nại <b>1800.1062</b> (8:00-21:30)</li>
					<li>Gọi bảo hành <b>1800.1064</b> (8:00-21:00)</li>
					<li>Hỗ Trợ kỹ thuật <b>1800.1763</b> (7:30-22:00)</li>
				</ul>
				<ul class="dg">
				    <li>3.3tr 426.5k</li>
					<li>Điện máy xanh</li>
					<li>bách hóa xanh</li>
					<li>Trần anh</li>
				</ul>
			</div>
		</div>
		
	</body>
</html>