<html>
    <head>
	    <meta charset="utf-8" />
		<title> </title>
		<link rel="stylesheet" href="1.header.css"/>
	</head>
	<body>
	
	<!---------------------header---------------------------------------->
	    <div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
				    <input type="text" size="30" placeholder="Bạn tìm gì..." id="txtsearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
				     <li>
			            <i class="icon dt"></i>
			            điện thoại
			         </li>
			         <li>
			            <i class="icon tb"></i>
			            table
			         </li>
			         <li>
			            <i class=" icon lt"></i>
			            laptop
			         </li>
			         <li>
			            <i class="icon pk"></i>
			            phụ kiện
			         </li>
			         <li>  
			            <i class="icon gr"></i>
			            cũ giá rẻ
			         </li>
			         <li>
			            <i class="icon km"></i>
			            khuyến mãi
			         </li>
			         <li>
			            <i class="icon cn"></i>
						Công nghệ
                     </li>                
			         <li> 
			            <i class="icon hd"></i>
			            hỏi đáp
			         </li>
			         <li> Sim số <br> Thẻ Cào</li>
			         <li> Đóng tiền điện, nước trả góp </li>
			    </ul>
			</div>	
		</div>
		
		<!----------------------Nội dung------------------------------------------------>
         <div id="content" class="wrapper">
		 <!--------quảng cáo: slide+adv-1--------------------------->
		 
		 
			<div id="line-1">
				<div id="slider">
					<img class="slider-images" src="../buoi_5/hinhanh/slider1.png" />
					<ul class="slider-items">
						<li>
							<a href="#">Đặt Trước Huawei Nova 3i<br> Nhận Quà 1.2 Triệu <i class="item-border"></i></a>
							
						</li>
						<li>
							<a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Độc Quyền Nokia 3.1</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
						</li>
					</ul>
					 <div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div>
				</div>
				<div id="adv-1"> 
				    <h3><a href="#"><span>Tin công nghệ</span></a></h3>
					<div class="tin-tieudiem">
						<img src="../hinhanh/anh1a.jpg" />
						<p><a href="#">Hàng loạt smartphone Motorola được giảm giá sốc lên đến 2 triệu</a></p>
						<span><a href="#">1 giờ trước</a></span>
					</div>
					<ul class="anh-quangcao">
						<li><a href="#"><img src="../hinhanh/quangcao.png" /></a></li>
						<li><a href="#"><img src="../hinhanh/quangcao1.png" /></a></li>
					</ul>
			    </div>
			</div>
			<!----------ảnh quảng cáo------------------------------------------->
			
			
			<div id="qcao">
			   <img src="../hinhanh/qcao.png"/>
			</div>
			
			<!------------giá sốc-giảm giá cuối tuần------------------------------------------------------>
			<div class="giasoc-cuoituan">
                <div class="sanpham">
				<a href="#">
				    <img src="../hinhanh/dt1.jpeg"/>
					<label class="giamgia"> GIẢM 1.000.000 đ</label>
					<h3> Xiaomi Mi A2</h3>
					<p class="gia"> 6.690.000 đ</p>
					<div class="khuyenmai">
						<p> 1000 suất tặng vòng đeo tay Mi Band 2, trả góp 0%</p>
					</div>
				</a>
				</div>	
                <div class="sanpham">
				<a href="#">
				    <img src="../hinhanh/dt2.jpeg"/>
					<label class="giamgia"> GIẢM 1.000.000 đ</label>
					<h3> OPPO F7</h3>
					<p class="gia"> 7.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/nhiet.jpg"/>
						<p> Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
                <div class="sanpham">
				<a href="#">
				    <img src="../hinhanh/dt3.jpg"/>
					<label class="giamgia"> GIẢM 500.000 đ</label>
					<h3> Galaxy J7 Pro</h3>
					<p class="gia"> 6.090.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và <strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
				    <img src="../hinhanh/dt4.jpg"/>
					<label class="giamgia"> GIẢM 1.000.000 đ</label>
					<h3> Galaxy J7+</h3>
					<p class="gia"> 7.290.000 đ</p>
					<div class="khuyenmai"> 
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và <strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
				    <img src="../hinhanh/dt5.jpg"/>
					<label class="giamgia"> GIẢM 3.000.000 đ</label>
					<h3> iPhone X 64GB(Xám)</h3>
					<p class="gia"> 29.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm ngay 1 triệu khi thanh toán Online bằng thẻ Mastercard(Từ 1/8-31/8) và <strong>2 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
			</div>
			
			
			<!---------------điện thoại nổi bật nhất------------------------------------------>
			<div class="product">
			    <div class="tieude"><h2>ĐIỆN THOẠI NỔI BẬT NHẤT</h2></div>
			    <ul class="list-tieude">
					<li>Apple iPhone</li>
					<li>Samsung</li>
					<li>Màn hình tràn viền</li>
					<li>Giá từ 3-5 triệu</li>
					<li>Trả góp 0%</li>
					<li>Xem tất cả <strong>180</strong> điện thoại</li>
				</ul>
			</div>
			<div class="danhsach">
			
			    <div class="sanpham-noibat">
				    <a href="#">
					    <img src="../hinhanh/nb1.jpg" id="anh-noibat"/>
						<div class="tensp"><h3>Samsung Galaxy Note 128GB</h3></div>
						<p class="giasp"> Dự Kiến:24.490.000đ</p>
					</a>
				</div>
				<!----------->
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb2.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy J8</h3>
					<p class="giasp">7.290.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 600.000đ qua quà tặng Galaxy và <strong>5 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb3.jpg"/>
					</div>
					<label class="dattruoc"> Đặt trước đến 17/8</label>
					<h3 class="tensp"> OPPO Find X</h3>
					<p class="giasp">20.990.000 đ</p>
					<div class="khuyenmai">
						<p>Tặngtai nghe cao cấp ,bảo hiểm rơi vỡ, trả góp 0%</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb4.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy J6</h3>
					<p class="giasp">5.290.000 đ</p>
					<div class="khuyenmai">
						<p>Thu cũ đổi mwois trợ giá 500.000đ và<strong>3 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
				<!---->
				<div class="sanpham-noibat">
				    <a href="#">
					    <img src="../hinhanh/nb5.jpg" id="anh-noibat"/>
						<div class="tensp"><h3>Samsung Galaxy A6 (2018)</h3></div>
						<p class="giasp"> 6.990.000đ</p>
					</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb6.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Nokia 3.1 32GB</h3>
					<p class="giasp">3.990.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb7.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Huawei Nova 3i</h3>
					<p class="giasp">6.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/nhiet.jpg"/>
						<p> Tặng bình giữ nhiệt inox khi mua online và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/nb8.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> iPhone 6 32GB</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
						<p> Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và<strong>1 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
			</div>
			
			<!-----------------table-laptop nổi bật--------------------------------------------------->
			<div class="product">
			    <div class="tieude"><h2>TABLEF-LAPTOP NỔI BẬT NHẤT</h2></div>
			    <ul class="list-tieude">
					<li>Samsung Tab</li>
					<li>Mocbook</li>
					<li>Laptop Dell</li>
					<li>Laptop ASUS</li>
					<li>Laptop HP</li>
					<li>Xem tất cả <strong>24</strong> table</li>
					<li>Xem tất cả <strong>19</strong> laptop</li>
				</ul>
			</div>
			<div class="danhsach-1"> 
			    <div class="sanpham-noibat">
				    <a href="#">
					    <img src="../hinhanh/lt.jpg" id="anh-noibat"/>
						<div class="tensp"><h3>Acer Aspire A715 72GB i5 8300H(GXBSV.003)</h3></div>
						<p class="giasp"> 19.990.000đ</p>
					</a>
				</div>
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/lt1.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Acer Swift SF314 54 51Q i5 8250U (NX.GXZSV.001)</h3>
					<p class="giasp">16.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/balo.jpg"/>
						<p> Tặng Balo Laptop Acer và<strong>4 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/lt2.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> iPad 2018 Wifi Cellular 128GB</h3>
					<p class="giasp">14.990.000 đ</p>
					<div class="khuyenmai">
						<p> Giảm 500.000 khi thanh toán online bằng thẻ Mastercard và<strong>4 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
				<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/lt3.jpg"/>
					</div>
					<h3 class="tensp"> Acer Aspire ES1 432 N3350</h3>
					<p class="giasp">6.290.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/balo.jpg"/>
						<p> Tặng Balo Laptop Acer và<strong>3 K.mãi</strong> khác</p>
					</div>
				</a>
				</div>	
			</div>
			
			<!-------------phụ kiện giá rẻ-------------------------------------------------------------------->
		
			<div class="product">
			    <div class="tieude"><h2>PHỤ KIỆN GIÁ RẺ</h2></div>
			    <ul class="list-tieude">
					<li>Pin sạc dự phòng</li>
					<li>Cáp sạc</li>
					<li>Thẻ nhớ</li>
					<li>Tai nghe</li>
					<li>Phụ kiện chính hãng</li>
					<li>Gậy tự sướng </li>
					<li>Xem tất cả <strong>3.344</strong> phụ kiện</li>
				</ul>
			</div>
			<div class="danhsach-2">
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/pk.jpg"/>
					</div>
					<label class="giam"> Giảm 35%</label>
					<h3 class="tensp"> Pin sạc dự phòng Polymer 10.000 mAh Type C eSAver PJ JP106S</h3>
					<p class="giasp">455.000 đ</p>
					<p class="giacu"> 700.000đ</p>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/pk1.jpg"/>
					</div>
					<label class="giam"> Giảm 35%</label>
					<h3 class="tensp"> Mifa BV150</h3>
					<p class="giasp">260.000 đ</p>
					<p class="giacu"> 400.000đ</p>
				</a>
			</div>	
		    <div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/pk2.jpg"/>
					</div>
					<label class="giare"> giá rẻ Oline</label>
					<h3 class="tensp">Cáp Xmobile MU03</h3>
					<p class="giasp">18.000 đ</p>
					<p class="giacu"> 40.000đ</p>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/pk3.jpg"/>
					</div>
					<label class="giam"> giảm 25%</label>
					<h3 class="tensp">Micro SD 8GB class 4</h3>
					<p class="giasp">150.000 đ</p>
					<p class="giacu"> 200.000đ</p>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/pk4.jpg"/>
					</div>
					<label class="giam"> giamr 35%</label>
					<h3 class="tensp">Tai nghe chụp tai Kanen IP-892</h3>
					<p class="giasp">195.000 đ</p>
					<p class="giacu"> 300.000đ</p>
				</a>
			</div>	
		</div>
		<!-------------Thanh vien---------=--------------------------------------->
		<div class="product">
			    <div class="tieude"><h2>KHUYẾN MÃI TẠI CÁC WEBSITE THÀNH VIÊN</h2></div>
	    </div>
		<div class="thanhvien">
		    <img src="../hinhanh/thanhvien2.png" class="tv" />
			<img src="../hinhanh/thanhvien1.png" class="tv" />
		    <img src="../hinhanh/thanhvien3.jpg" class="tv" />
		</div>	
		</div>
		
		<!------------------------footer------------------------------------------------>
		
		<div id="footer">
		    <div class="footer-cot">
			    <ul class="dg">
				    <li> Tìm hiểu về mua trả góp</li>
					<li>Chính sách bảo hành</li>
					<li>Chính sách đổi trả</li>
					<li> Giao hàng & Thanh toán</li>
					<li> Xem thêm</li>
				</ul>
				<ul class="dg">
				    <li> Giới thiệu công ty (mwg.vn)</li>
					<li>Tuyển dụng</li>
					<li>Gửi góp ý , khiếu nại</li>
					<li>Tìm siêu thị (1695 shop)</li>
					<li> Xem Bản mobile</li>
				</ul>
				<ul class="dg">
				    <li>Gọi mua hàng <b>1800.1060</b> (7:30-22:00)</li>
					<li>Gọi khiếu nại <b>1800.1062</b> (8:00-21:30)</li>
					<li>Gọi bảo hành <b>1800.1064</b> (8:00-21:00)</li>
					<li>Hỗ Trợ kỹ thuật <b>1800.1763</b> (7:30-22:00)</li>
				</ul>
				<ul class="dg">
				    <li>3.3tr 426.5k</li>
					<li>Điện máy xanh</li>
					<li>bách hóa xanh</li>
					<li>Trần anh</li>
				</ul>
			</div>
		</div>
		
		
	</body>
</html>