<html>
    <head>
	    <meta charset="utf-8"/>
		<title> trang chu the gioi di dong-table</title>
		<link rel="stylesheet" href="table.css"/>
	</head>
	<body>
	    <!--------------header---------------------------------->
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
				    <input type="text" size="30" placeholder="Bạn tìm gì..." id="txtsearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
				     <li>
			            <i class="icon dt"></i>
			            điện thoại
			         </li>
			         <li>
			            <i class="icon tb"></i>
			            table
			         </li>
			         <li>
			            <i class=" icon lt"></i>
			            laptop
			         </li>
			         <li>
			            <i class="icon pk"></i>
			            phụ kiện
			         </li>
			         <li>  
			            <i class="icon gr"></i>
			            cũ giá rẻ
			         </li>
			         <li>
			            <i class="icon km"></i>
			            khuyến mãi
			         </li>
			         <li>
			            <i class="icon cn"></i>
						Công nghệ
                     </li>                
			         <li> 
			            <i class="icon hd"></i>
			            hỏi đáp
			         </li>
			         <li> Sim số <br> Thẻ Cào</li>
			         <li> Đóng tiền điện, nước trả góp </li>
			         </ul>
			</div>	
		</div>
		
		<!----------------------Nội dung------------------------------------------------>
        <div id="content" class="wrapper"> 
		<!------------------slide-quảng cáo-------------------------------------->
		    <div id="line-1">
				<div id="slider">
					<img class="slider-images" src="../hinhanh/ltmt.png" />
					<div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div> 
		        </div>
		    
			    <div id="adv-1">
			         <ul class="anh-qcao">
				         <li><a href="#"><img src="../hinhanh/adv.png"/></a></li>
				     	<li><a href="#"><img src="../hinhanh/adv1.png"/></a></li>
				     </ul>
			    </div>
			</div>
			
			<!------------bảng danh sách----------------------------------------------------------->
		<table id="table" border="1">
		    <tbody>
				<tr>
				    <td> <img src="../hinhanh/l1.jpg" /> </td>
					<td> <img src="../hinhanh/l2.jpg" /> </td>
					<td> <img src="../hinhanh/l3.jpg" /> </td>
					<td> <img src="../hinhanh/l4.jpg" /> </td>
					<td> <img src="../hinhanh/l5.jpg" /> </td>
					<td> <img src="../hinhanh/l6.jpg" /> </t
				</tr>
			</tbody>
		</table>
		
		<!-------------lựa chọn-------------------------------------------------------->
		 
		<div id="chon"> 
		    <ul id="list">
			    <li>Chọn mức giá :</li>
			    <li class="xanh"> Dưới 3 triệu</li>
				<li class="xanh">Từ 3-10 triệu</li>
				<li class="xanh">Trên 10 triệu</li>
			    <li class="xanh"><input type="checkbox" value="moi"/> Mới</li>
				<li class="xanh"><input type="checkbox" value="tragop" checked /> Trả góp 0%</li>
				<li class="xanh">Tính tăng</li>
				<li class="xanh">Sắp xếp</li>
		    </ul>	
		</div>
		
		<!----------máy tính bảng nổi bật nhất------------------------------------------------>
		 
		<div class="product">
			    <div class="tieude"><h2>MÁY TÍNH NỔI BẬT NHẤT</h2></div>
		</div>
		<!------->
		<div class="danhsach">
		    <div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m1.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> iPad Wifi Cellular 128 GB</h3>
					<p class="giasp">14.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard<strong>2 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m2.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> iPad Mini 4 Wifi 128GB</h3>
					<p class="giasp">9.990.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m3.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> iPad Pro 10.5 inch Wifi Cellular 64GB (2017)</h3>
					<p class="giasp">19.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m4.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp">iPad Pro 10.5inch Wifi 64GB</h3>
					<p class="giasp">16.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m5.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp"> iPad Wifi Cellular 32GB (2018)</h3>
					<p class="giasp">7.290.000 đ</p>
					<div class="khuyenmai">
						<pGiảm 500.000đ khi thanh toán online bằng thẻ Mastercard và <strong>2 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<!---->
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m6.jpg"/>
					</div>
					<label class="giamgia"> Giảm 500.000đ</label>
					<h3 class="tensp">iPad Wifi 128GB(2018)</h3>
					<p class="giasp">11.990.000 đ</p>
					<div class="khuyenmai">
						<p>Giảm 400.000đ khi thanh toán online bằng thẻ Mastercard <strong>2 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m7.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> iPad Wifi Cellular 32GB(2017)</h3>
					<p class="giasp">10.990.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham-noibat">
				   <a href="#">
					    <img src="../hinhanh/m8.jpg" id="anh-noibat"/>
				        <div class="tensp"><h3>Samsung Galaxy A6 (2018)</h3></div>
						<p class="giasp"> 6.990.000đ</p>
					    <div class="khung">
					        <div class="km">Khuyến mãi</div>
						    <p>-Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit<br>
						      -Phiếu mua hàng Samsung 1.000.000đ <br>
						      -Để sạc đôi không dây Samsung<br>
						      <p class="lket"> Xem thêm 2 khuyến mãi</p>
						    </p>
					    </div>
					<input class="mua" type="button" value="ĐẶT TRƯỚC"/> 
					<input class="mua1" type="button" value="MUA TRẢ GÓP"/> 
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m9.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy Tab A6 10.1 Spen</h3>
					<p class="giasp">7.490.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/km.jpg"/>
						<p>Tặng phiếu mua hàng 150.000đ và<strong>5 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<!------>
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m10.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp">Huawei MediaPAd M3 8.0 (2017)</h3>
					<p class="giasp">5.990.000 đ</p>
					<div class="khuyenmai">
						<p> Tặng bao da trong hộp máy và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m11.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy Tab A8.0 (2017)</h3>
					<p class="giasp">5.490.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/km.jpg"/>
						<p>Tặng phiếu mua hàng Samsung trị giá 100.000đ và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m12.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Huawei MediaPAd T3 10 (2017)</h3>
					<p class="giasp">4.490.000 đ</p>
					<div class="khuyenmai">
						<p>Tặng bao da trong hộp máy và <strong>51K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m13.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Samsung Galaxy Tab E 9.6 (SM-T561)</h3>
					<p class="giasp">3.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/km.jpg"/>
						<p>Tặng phiếu mua hàng Samsung trị giá 100.000đ và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m14.jpg"/>
					</div>
					<label class="tragop"> Trả góp 0%</label>
					<h3 class="tensp"> Huawei MediaPAd T3 8.0 (2017)</h3>
					<p class="giasp">3.990.000 đ</p>
					<div class="khuyenmai">
						<p>Tặng bao da trong hộp máy  và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m15.jpg"/>
					</div>
					<h3 class="tensp"> Lenovo Phab 2</h3>
					<p class="giasp">3.990.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m16.jpg"/>
					</div>
					<h3 class="tensp"> Lenovo Tab 4.8" 16GB (TB-8504X)</h3>
					<p class="giasp">3.690.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/km.jpg"/>
						<p>Tặng phiếu mua hàng trị giá 200.000đ  và <strong>5 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m17.jpg"/>
					</div>
					<h3 class="tensp"> Samsung Galaxy Tab A6 7.0"</h3>
					<p class="giasp">3.290.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m18.jpg"/>
					</div>
					<h3 class="tensp">Mobell Tab 8 Pro</h3>
					<p class="giasp">2.990.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/nhiet.jpg"/>
						<p>Tặng bình giữ nhiệt inox DMX-002 500ml và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m19.jpg"/>
					</div>
					<h3 class="tensp"> Mobell Tab 8s</h3>
					<p class="giasp">2.490.000 đ</p>
					<div class="khuyenmai">
					    <img src="../hinhanh/nhiet.jpg"/>
						<p>Tặng bình giữ nhiệt inox DMX-002 500ml và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m20.jpg"/>
					</div>
					<h3 class="tensp"> Lenovo Tab 7 Essential (TB-7304X)</h3>
					<p class="giasp">2.390.000 đ</p>
					<div class="khuyenmai">
						<p>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m21.jpg"/>
					</div>
					<h3 class="tensp"> Ltel Tab it1703</h3>
					<p class="giasp">2.290.000 đ</p>
					<div class="khuyenmai">
						<p>Tặng điện thoại Ltel IT2123 và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m22.jpg"/>
					</div>
					<h3 class="tensp"> Ltel Tab it1702</h3>
					<p class="giasp">1.990.000 đ</p>
					<div class="khuyenmai">
						<p>Tặng điện thoại Ltel IT2123 và <strong>5 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
			<div class="sanpham">
				<a href="#">
				    <div class="anh">
					    <img src="../hinhanh/m23.jpg"/>
					</div>
					<h3 class="tensp">Mobell Tab 7s</h3>
					<p class="giasp">1.690.000 đ</p>
					<div class="khuyenmai">
						<img src="../hinhanh/nhiet.jpg"/>
						<p>Tặng bình giữ nhiệt inox DMX-002 500ml và <strong>1 K.mãi</strong> khác</p>
			        </div>
				</a>
			</div>	
		</div>
		
		<!--------------------------------->
		
		    <div id="chon"> 
		    <ul id="list">
			    <li class="xanh"> Dưới 2 triệu</li>
				<li class="xanh">Từ 2-4 triệu</li>
				<li class="xanh">Từ 4-7 triệu</li>
				<li class="xanh"> Từ 7-13 triệu</li>
				<li class="xanh">iPhone(Apple)</li>
			    <li class="xanh">Samsung</li>
				<li class="xanh">OPPO</li>
				<li class="xanh">Nokia</li>
				<li class="xanh">Bảo mật vân tay</li>
				<li class="xanh">Màn hình tràn viền</li>
				<li class="xanh">Chống nước, bụi</li>
				<li class="xanh"> Hỗ trợ 4G</li>
		    </ul>	
		    </div> 
			
			<!-------------------------------------->
		
			<div id="ttin">
			    <ul>
				    <li class="ds">Giao hàng hỏa tốc trong 1 giờ</li>
					<li class="ds">Thanh toán linh hoạt:tiền mặt, visa/ master, trả góp</li>
					<li class="ds">Trải nghiệm sản phẩm tại nhà</li>
					<li class="ds">Lỗi đổi tại nhà trong 1 ngày</li>
					<li class="ds"> Hỗ trợ thời gian sử dụng.<br> Hotline: 1800.1763</li>
				</ul>
			</div>
		</div>
			
		<!------------------------footer------------------------------------------------>
		
		<div id="footer">
		    <div class="footer-cot">
			    <ul class="dg">
				    <li> Tìm hiểu về mua trả góp</li>
					<li>Chính sách bảo hành</li>
					<li>Chính sách đổi trả</li>
					<li> Giao hàng & Thanh toán</li>
					<li> Xem thêm</li>
				</ul>
				<ul class="dg">
				    <li> Giới thiệu công ty (mwg.vn)</li>
					<li>Tuyển dụng</li>
					<li>Gửi góp ý , khiếu nại</li>
					<li>Tìm siêu thị (1695 shop)</li>
					<li> Xem Bản mobile</li>
				</ul>
				<ul class="dg">
				    <li>Gọi mua hàng <b>1800.1060</b> (7:30-22:00)</li>
					<li>Gọi khiếu nại <b>1800.1062</b> (8:00-21:30)</li>
					<li>Gọi bảo hành <b>1800.1064</b> (8:00-21:00)</li>
					<li>Hỗ Trợ kỹ thuật <b>1800.1763</b> (7:30-22:00)</li>
				</ul>
				<ul class="dg">
				    <li>3.3tr 426.5k</li>
					<li>Điện máy xanh</li>
					<li>bách hóa xanh</li>
					<li>Trần anh</li>
				</ul>
			</div>
		</div>
		
		</div>
	</body>
</html>