
}
#css_float{
	background:#AA0000;
}

#css_float #duong_bao{
	width= 8000px;
	min-height:100px ;
	background: white;
	margin: 0 auto;
}

#css_float #duong_bao #hop_1{
	width: 300px; height: 100px; background: yellow;
	float:right;
}

#css_float #duong_bao #hop_2{
	width: 200px; height: 120px; background: orange;
	float:right;
}

#css_float #duong_bao #hop_3{
	width: 250px; height: 80px; background: violet;
	float:left;
}

#css_float #duong_bao #hop_4{
	width: 320px; height: 100px; background: green;
	float:right;
}

#css_float #duong_bao #hop_5{
	width: 120px; height: 50px; background: red;
	float:inherit;
}
#css_margin_padding {
	background: #c3c3c3
	
}
#css_margin_padding #duong_bao #hop_1 {
	width:300px; height:100px; background:yellow;
	margin: 30px 25px 30px 15px
	float: left;
	
}
