<!DOCTYPE html>
<html>
<head>
	<title>
		Thegioididong.com - Siêu thị điện thoại, Tablet, Laptop, Phụ kiện chính hãng
	</title>
	<meta charset="utf-8" />
	<meta name="author" content="Phan Anh Sơn" />
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
		<!--------Header--------->
		<div id="header"> 
			<div class="wrapper">
				<a id="logo" href="#" title="Về trang chủ Thegioididong.com">
					<i id="icon-logo"></i>
				</a>

				<form id="search">
					<input type="text" id="search-site" placeholder="Bạn tìm gì..." />

					<button id="btn-search" type="submit">
						<i id="icon-search"></i>
					</button>
				</form>
			<div id="main-menu">
				<a class="icon"  hr="#">điện thoại
					<i id="icon-mobile"></i>
				</a>
				<a class="icon" hr="#">table
					<i id="icon-tablet"></i>
				</a>
				<a class="icon" hr="#">laptop
					<i id="icon-laptop"></i>
				</a>
				<a class="icon" hr="#">phụ kiện
					<i id="icon-phukien"></i>
				</a>
				<a class="icon" hr="#">
					<span id="icon-may">MÁY</span>
					cũ giá rẻ
					<i id="icon-maydoitra"></i>
				</a>
				<a class="icon" class" hr="#">khuyến mại
					<i id="icon-promo"></i>
				</a>
				<a class="icon" hr="#">
					<span id="icon-tin">TIN</span>
					công nghệ
					<i id="icon-news"></i>
				</a>
				<a class="icon" hr="#">giải đáp
					<i id="icon-ask"></i>
				</a>
				<i class="duongke"></i>
				<a id="icon-1" hr="#">
					Sim số thẻ cào
					<i id="icon-cardsim"></i>
				</a>
				<i class="duongke"></i>
				<a id="icon-2" hr="#">
					Đóng tiền điện, nước, trả góp
					<i id="icon-utility"></i>
				</a>
			</div>
			</div>
		</div>


		<!--------Content--------->
		<div id="content" class="wrapper">

<!---------------------------------------->
			<div id="line-1">
				<div id="slider">
					<div id="slider-images">
						<a href="#">
							<img src="./images/anh3.png">
						</a>
					</div>
					<ul id="slider-items">
						<li>
							<a href="#">Đặt Trước Huawei Nova 3i  Nhận Quà 1.2 Triệu
							</a>
						</li>
						<li>
							<i class="item-border"></i>
							<a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
						</li>
						<li>
							<i class="item-border"></i>
							<a href="#">Độc Quyền Nokia 3.1</a>
						</li>
						<li>
							<i class="item-border"></i>
							<a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
							
						</li>
						<li>
							<i class="item-border"></i>
							<a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
						</li>
					</ul>
					<div id="slider-controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div>
				</div>
				<div id="adv-1">
					<div id="figure">
						<h2>
							<a href="#">
								<div id="tintuc">tin công nghệ</div>
							</a>
						</h2>
						<a href="#">
						<div>
							<span id="dot"></span>
							<span id="text">
								<strong>Mobifone TẶNG 20%</strong>
								 giá trị thẻ nạp - 01/08
							</span>
							</a>
						</div>
					</div>
					<ul id="adv-quangcao">
						<li>
							<a href="#">
								<img src="./images/01_aalf_800x450-100x100.jpg">
							
							<h3>Apple đã thu về 53.3 tỷ USD, bán được 41.3 triệu iPhone trong Q3/2018
                    		</h3>
                    		<span>1 giờ trước</span>
                    	</a>
						</li>
					</ul>
					<div id="adv-banner">
						<a href="#">
							<img src="./images/01_08_2018_07_02_05_j7proplus-Thang8_398-110.png">
						</a>
						<a href="#">
							<img src="./images/31_07_2018_16_35_24_iPhone-X-398-110.png">
						</a>
					</div>
				</div>
			</div>

<!---------------------------------------->
			<div id="promotebanner">
				<a href="#">
					<img src="./images/01_08_2018_15_43_05_1200x75D.png">
				</a>
			</div>

<!---------------------------------------->
			
			<div id="sale"> 
				<a href="#">
					<img src="./images/sale/huawei-nova-3i-1-600x600.jpg">
					<h3>Huawei Nova 3i</h3>
					<strong>6.990.000₫</strong>
					<span>Tặng tai nghe bluetooth, bảo hành tận nhà, miếng dán, ốp lưng, trả góp 0%</span>
				<i class="giamgia">Đặt trước đến 03/08</i>
				</a>
				<a href="#">
					<img src="./images/sale/samsung-galaxy-j7-pro-hh-600x600.jpg">
					<h3>Galaxy J7 Pro</h3>
					<strong>6.090.000₫</strong>
					<span><b>2</b> khuyến mãi</span>
				<i class="giamgia"> GIẢM 500.000₫</i>
				</a>
				

				<a href="#">
					<img src="./images/sale/oppo-f7-bac-600x600.jpg">
					<h3>OPPO F7</h3>
					<strong>7.990.000₫</strong>
					<span><img src="./images/sale/binh-giu-nhiet-dmx-002-km-ava-100x100.jpg">
					Tặng Bình giữ nhiệt inox khi mua online và <b>2 K.mãi</b> khác </span>
				<i class="giamgia">GIẢM 500.000₫</i>
				</a>
				

				<a href="#">
					<img src="./images/sale/samsung-galaxy-j7-plus-hh-600x600.jpg">
					<h3>Galaxy J7+</h3>
					<strong>7.290.000₫</strong>
					<span><b>2</b> khuyến mãi</span>
				<i class="giamgia">GIẢM 1000.000₫</i>
				</a>
				

				<a href="#">
					<img src="./images/sale/samsung-galaxy-j7-prime-hh-600x600.jpg">
					<h3>Galaxy J7 Prime</h3>
					<strong>4.990.000₫</strong>
					<span><b>3</b> khuyến mãi</span>
				<i class="giamgia">GIẢM 500.000₫</i>
				</a>
				
			<div id="sale-controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div>	
			
			</div>

<!---------------------------------------->			
			<div class="navigat">
				<div class="tieude"><h2>Điện thoại nổi bật nhất</h2></div>
				<ul class="list-tieude">
						<li>Apple iPhone</li>
						<li>Samsung</li>
						<li>Màn hình tràn viền</li>
						<li>Giá từ 3-5 triệu</li>
						<li>Trả góp 0%</li>
						<li>Xem tất cả <b>172</b>điện thoại</li>
				</ul>
			</div>
			<div class="product">
				<ul class="homeproduct">
					<li class="feature">
					<a href="#">
						<img src="./images/mobile/ft-samsung-galaxy-note-9-spen-2.jpg">
						<h3>Samsung Galaxy Note 128GB</h3>
						<div class="price"><strong>Dự kiến: 24.490.000₫</strong></div>
					</a>
					</li>
					<i class="duongke"></i>
					<li class="sp">
					<a href="#">
						<img src="./images/mobile/samsung-galaxy-j8-600x600.jpg">
						<h3 class="list-sp">SSamsung Galaxy J8</h3>
						<div class="list-price"><strong>7.290.000₫</strong></div>
						<span> Giảm 600.000đ qua quà tặng Galaxy và <b>5 K.mãi</b> khác</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/mobile/oppo-find-x-1-600x600.jpg">
						<h3 class="list-sp">OPPO Find X</h3>
						<div class="list-price"><strong>20.990.000₫</strong></div>
						<span>  Tặng tai nghe cao cấp, bảo hiểm rơi vỡ, trả góp 0%</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/mobile/samsung-galaxy-j6-2018-1-600x600-600x600-600x600-600x600.jpg">
						<h3 class="list-sp">Samsung Galaxy J6</h3>
						<div class="list-price"><strong>5.290.000₫</strong></div>
						<span>  Thu cũ đổi mới trợ giá 500.000đ và <b>3 K.mãi</b> khác</span>
					</a>
					</li>

					<li class="feature">
					<a href="#">
						<img src="./images/mobile/samsung-galaxy-a6-2018-ft-2.jpg">
						<h3>Samsung Galaxy A6 (2018)</h3>
						<div class="price"><strong>6.990.000₫</strong></div>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/mobile/nokia-31-docquyen-600x600.jpg">
						<h3 class="list-sp">Nokia 3.1 32GB</h3>
						<div class="list-price"><strong>3.990.000₫</strong></div>
						<span>  Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/mobile/iphone-8-plus-hh-600x600.jpg">
						<h3 class="list-sp">iPhone 8 Plus 64GB</h3>
						<div class="list-price"><strong>23.990.000₫</strong></div>
						<span>  Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và  <b>2 K.mãi</b> khác</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/mobile/iphone-6-32gb-gold-hh-600x600.jpg">
						<h3 class="list-sp">iPhone 6 32GB</h3>
						<div class="list-price"><strong>7.490.000₫</strong></div>
						<span>  Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và <b>1 K.mãi</b> khác</span>
					</a>
					</li>

				</ul>
			</div>

<!---------------------------------------->
			<div class="navigat">
				<div class="tieude"><h2>Tablet - Laptop nổi bật nhất</h2></div>
				<div class="list-tieude">
					<ul class="list-tieude">
						<li>Samsung Tab</li>
						<li>Macbook</li>
						<li>Laptop Dell</li>
						<li>Laptop ASUS</li>
						<li>Laptop HP</li>
						<li>Xem tất cả <b>23</b> tablet</li>
						<li>Xem tất cả <b>95</b> laptop</li>
					</ul>
				</div>
			</div>

			<div class="product"> 
				<ul class="homeproduct">
					<li class="feature">
					<a href="#">
						<img src="./images/table/acer-aspire-a715-72g-54pc-gxbsv003-ft2.jpg">
						<h3>Acer Aspire A715 72G 54PC i5 8300H (GXBSV.003)</h3>
						<div class="price"><strong>19.990.000₫</strong></div>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/table/acer-swift-sf314-54-51ql-nxgxzsv001-dai-dien-450x300-1-450x300-450x300-600x600.jpg">
						<h3 class="list-sp">Acer Swift SF314 54 51QL i5 8250U (NX.GXZSV.001)</h3>
						<div class="list-price"><strong>16.990.000₫</strong></div>
						<span>  Tặng Balo Laptop Acer và <b>4 K.mãi</b> khác</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/table/ipad-wifi-cellular-128gb-2018-thumb-600x600.jpg">
						<h3 class="list-sp">iPad 2018 Wifi Cellular 128GB</h3>
						<div class="list-price"><strong>14.990.000₫</strong></div>
						<span>   Giảm 500.000đ khi thanh toán online bằng thẻ Mastercard và <b>2 K.mãi</b> khác</span>
					</a>
					</li>

					<li class="sp">
					<a href="#">
						<img src="./images/table/acer-aspire-es1-432-c3c9-n3350-nxgfssv005-ava-600x600.jpg">
						<h3 class="list-sp">Acer Aspire ES1 432 N3350</h3>
						<div class="list-price"><strong>6.290.000₫</strong></div>
						<span> Tặng Balo Laptop Acer và <b>3 K.mãi</b> khác</span>
					</a>
					</li>

				</ul>
			</div>

<!---------------------------------------->
			<div class="navigat">
				<div class="tieude"><h2>Phụ kiện giá rẻ</h2></div>
				<div class="list-tieude">
					<ul class="list-tieude">
						<li>Pin sạc dự phòng</li>
						<li>Cáp sạc</li>
						<li>Thẻ nhớ</li>
						<li>Tai nghe</li>
						<li>Loa</li>
						<li>Phụ kiện chính hãng</li>
						<li>Gậy tự sướng</li>
						<li>Xem tất cả <b>3.335</b> phụ kiện</li>
					</ul>
				</div>
			</div>
			<div class="product"> 
				<ul class="homeproduct">
					<li class="sp">
					<a href="#">
						<img src="./images/phukien/cap-micro-usb-20cm-x-mobile-mu03-avatar-1-600x600.jpg">
						<h3 class="list-sp">Pin sạc dự phòng Polymer 10.000 mAh Type C eSaver PJ JP106S</h3>
						<div class="list-price"><strong>455.000₫</strong> <del>700.000₫</del></div>
					</a>
					</li>

					<li class="sp">
						<a href="#">
						<img src="./images/phukien/loa-bluetooth-mifa-bv150-12-600x600.jpg">
						<h3 class="list-sp">Mifa BV150</h3>
						<div class="list-price"><strong>260.000₫</strong> <del>400.000₫</del></div>
					</a>
					</li>

					<li class="sp">
						<a href="#">
						<img src="./images/phukien/cap-micro-usb-20cm-x-mobile-mu03-avatar-1-600x600.jpg">
						<h3 class="list-sp">Cáp Xmobile MU03</h3>
						<div class="list-price"><strong>20.000₫</strong> <del>40.000₫</del></div>
					</a>
					</li>
					<li class="sp">
						<a href="#">
						<img src="./images/phukien/the-nho-microsd-8gb-class-4-avatar-1-600x600.jpg">
						<h3 class="list-sp">Micro SD 8 GB class 4</h3>
						<div class="list-price"><strong>150.000₫</strong> <del>200.000₫</del></div>
					</a>
					</li>
					<li class="sp">
						<a href="#">
						<img src="./images/phukien/tai-nghe-chup-tai-kanen-ip-892-ava-600x600.jpg">
						<h3 class="list-sp">Tai nghe chụp tai Kanen IP-892</h3>
						<div class="list-price"><strong>195.000₫</strong> <del>300.000₫</del></div>
					</a>
					</li>
				</ul>
			</div>

<!---------------------------------------->
			<div class="navigat">
				<div class="tieude"><h2>Khuyến mãi tại các website thành viên</h2></div>
				<div class="list-tieude"></div>
			</div>
			<div id="promotion">
				<a href="#" class="promotion-img">
					<img src="./images/02_08_2018_14_28_09_380x145.png">
				</a>

				<a href="#" class="promotion-img">
					<img src="./images/31_07_2018_21_02_05_Big-My-Pham-380-145.png">
				</a>

				<a href="#" class="promotion-img">
					<img src="./images/17_07_2018_09_55_59_380x145-combo-4.jpg">
				</a>
			</div>
		</div>

		<!--------Foooter--------->
		<div id="footer">
			<div class="wrapper">
				<div class="col">col-1</div>
				<div class="col">col-2</div>
				<div class="col">col-3</div>
				<div class="col">col-4</div>
			</div>
			<div id="row-footer">Row-footẻ</div>
		</div>

</body>
</html>