*{
	margin: 0px;
	padding: 0px;
}

#wrapper-menu{
	margin: auto 2%;
	height: 56px;
}

li{
	list-style: none;
}

#header{
	background: #46178F;
	color: #fff;
	width: 100%;
	height: 56px;
	line-height: 56px;
	position: fixed;
	top: 0; /*Nằm trên cùng*/
  	left: 0; /*Nằm sát bên trái*/
	float: left;
}

#header .menu-left{
	display: inline;
	float: left;
	height: 56px;
	line-height: 56px;
}

#header .menu-left img{
	width: auto;
	height: 40px;
}

#header .menu-left .menu-left-logo{
	width: 56px;
	height: 56px;
	float: left;
	margin-right: 100px;
}

#header .menu-left .menu-left-nd1 .icon{
	float: left;
	height: 56px;
	line-height: 56px;
	padding-right: 5px;
}

#header .menu-left .menu-left-nd1{
	height: 56px;
	float: left;
	padding-right: 25px;
	line-height: 56px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

#header .menu-right{
	display: inline;
	float: right;
	height: 56px;
	line-height: 56px;
	width: 25%;
}

#header .menu-right-nd1{
	float: right;
	color: #fff;
	font-weight: 700px;
	font-size: 14px;
	text-align: center;
	width: 100px;
	height: 56px;
	line-height: 56px;
}
#header  .menu-right-nd1 a{
	color: #fff;
	font-weight: 700;
}
#header  .menu-right-nd2{
	float: right;
	width: 100px;
	text-align: center;
}
#header  .menu-right-nd2 button{
	background: #fff;
}
#header  .menu-right-nd3{
	float: right;
	height: 56px;
	line-height: 56px;
	width: 30px;
	text-align: center;
}
#header  .menu-right-nd4{
	float: right;
	height: 56px;
	line-height: 56px;
	width: 30px;
	text-align: center;
}

/*Content*/
#content{
	width: 100%;
	float: left;
	margin-top: 56px;
	
}


#content .content-left{
	width: 100%;
	background: #fff;
	padding-left: 2%;
	float: left;
	position: fixed;
	top: 56px;
	left: 0px;
}

#content .content-left .content-left-qc{
	text-align: center;
	padding-left: 2%;
	margin-top: 50px;
	position: fixed;
	top: 300px;
	left: 10px;
}

#content .content-left .content-left-qc img{
	width: 250px;
	height: auto;
}

#content .content-left .vertical-menu {
	margin-top: 50px ;
}

#content .content-left .vertical-menu a {
  background-color: #fff; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

#content .content-left .vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

#content .content-right{
    padding:5px;
    background: #F2F2F2;
}

#content .content-right .search{
	max-width: 60%;
	margin: 0 auto;
	margin-top: 50px ;
	margin-bottom: 50px ;
}

#content .content-right .search input[type=text]{
	height: 50px;
}

#content .content-right .search button{
	width: 50px;
	height: 50px;
}

#content .content-right .content-right-ds{
	max-width: 100%;
	margin-left: 30px;
}

#content .content-right .content-right-ds .content-right-dong1{
	height: 50px;
	line-height: 50px;
}

#content .content-right .content-right-ds .content-right-dong{
	font-weight: 700;
	font-size: 14px;
}

#content .content-right .content-right-ds .content-right-dong2{
	height: 50px;
	line-height: 50px;
}

#content .content-right .row-left{
	float: left;
	display: inline;
	height: 50px;
	line-height: 50px;
}

#content .content-right .row-left li{
	float: left;
	padding-right: 10px;
	font-weight: 700;
	font-size: 14px;
}

#content .content-right .row-right{
	float: right;
	display: inline;
}

#content .content-right .row-right li{
	float: left;
	padding: 0px 5px;
	height: 50px;
	line-height: 50px;
}

#content .content-right a{
	text-decoration: underline;
}

.content-right .content-right-ds-nd{
	max-width: 100%;
	margin-left: 30px; 
}

.content-right .content-right-ds-nd .table{
	max-width: 100%;
	background: #fff;
	position: relative;
}

.content-right .content-right-ds-nd .content-table{
	width: 100%;
	cursor: pointer;
	background: #fff;
	margin-top: 30px;
	
}

.content-right .content-right-ds-nd .content-table .content-table-img{
	width: 215px;
    height: 170px;
	
}

.content-right .content-right-ds-nd .content-table .content-table-img img{
	width: 215px;
    height: 170px;

}

.content-right .content-right-ds-nd .content-table .content-table-col1{
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
}

.content-right .content-right-ds-nd .content-table .content-table-col2{
	float: right;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
}

.content-right .content-right-ds-nd .soluongch{
    display: inline-block;
    width: 100px;
    height: 25px;
    position: absolute;
    top: 145px;
    left: 115px;
    background: #666666;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
}

.content-right .content-right-ds-nd .checkch{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    border-radius: 20px;
}

.content-right .content-right-ds-nd .checkch:hover{
	background: green;
}


