#css_float{
	background: #F0F8FF;
}
#duong_bao{
	width: 600px;
	min-height: 400px;
	background: #BDB76B;
	margin: 0 auto;/*căn giữa đối tượng*/
}
#css_float #duong_bao #hop_1{
	width: 300px;
	height: 150px;
	background: blue;
	float: right;
}
#css_float #duong_bao #hop_2{
	width: 200px;
	height: 100px;
	background:orange;
	float: right;
}
#css_float #duong_bao #hop_3{
	width: 350px;
	height: 80px;
	background: red;
	float: left;
}
#css_float #duong_bao #hop_4{
	width: 320px;
	height: 120px;
	background: green;
	float: right;
}
#css_float #duong_bao #hop_5{
	width: 100px;
	height: 80px;
	background: yellow;
	float: inherit;
}

/* margin-padding*/
#css_margin_padding{
	background: #808080;
}
#css_margin_padding #duong_bao #hop_1{
	width: 400px;
	height: 200px;
	background: blue;
	margin: 30px 20px 30px 10px;
	float: left;
}
#css_margin_padding #duong_bao #hop_2{
	width: 320px;
	height: 150px;
	background: orange;
	float: left;
	padding: 20px 25px 20px 10px;
}
#css_margin_padding #duong_bao #hop_3{
	width: 120px;
	height: 120px;
	background: brown;
	float: left;
	margin: 20px;
}

/* text - font */
#css_text_font #vanban_1{
	text-transform: uppercase;
}

#css_text_font #vanban_2{
	text-transform: lowercase;
}

#css_text_font #vanban_3{
	text-transform: capitalize;
}

#css_text_font #vanban_4{
	text-decoration: underline;
}

#css_text_font #vanban_5{
	text-decoration: line-through;
}

#css_text_font #vanban_6{
	line-height: 50px;
}

/* Lab CSS Position */
#css_position{background:#333}

#css_position #duong_bao{
	background: white;
	width: 80%;
	margin: 0 auto;
	position: relative;
}

#css_position #duong_bao #hop_1{
	width: 100px; height: 100px; background: orange;
	position: fixed;
	top: 300px;
	right: 0px;
}

#css_position #duong_bao #hop_2{
	width: 100px; height: 100px; background: green;
	position: absolute;
	top: 100px;
	right: 50px;
}