<html>
	<head>
		<title>Trang Chủ</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		
	</head>
	<body>
		<!--HEADER-->
			<div id="header">

				<div class="wrapper">	
					<div id="logo-search">
						<!--LOGO-->
							<div id="logo">
								LOGO
							</div>
						<!--SEARCH-->
							<div id="search">
								TÌM KIẾM
							</div>
					</div>
					<!--MAIN-MENU-->	
						<div id="main-menu">
							MAIN MENU
						</div>
				</div>

			</div>

		<!--CONTENT-->
			<div id="content" class="wrapper">
				<div id="line-1">
					<div id="slider">slider</div>
					<div id="adv-1">adv-1</div>
				</div>
				<div id="sale">Sale</div>
				<div class="product-cat">product-cat</div>
				<div class="product-cat">product-cat</div>
				<div class="product-cat">product-cat</div>
				<div class="product-cat">product-cat</div>
				<div id="promotion">promotion</div>
			</div>

		<!--FOOTER-->
			<div id="footer">
				<div class="wrapper">
					<div class="col">Col-1</div>
					<div class="col">Col-2</div>
					<div class="col">Col-3</div>
					<div class="col">Col-4</div>
				</div>
			</div>
		
	</body>
</html>