*{margin: 0;padding: 0}

.wrapper{margin: 0 auto; padding: 0; width: 1000px;height: auto;}

#header{width: 100%; height: 100px;background-color: red;}
#header #logo{width: 200px; height: 50px; background-color: #39C574; margin-left: 175px; float: left;}
#header #search{width: 350px; height: 50px; background-color: #B347B7; float: left;}
#header #link{width: 450px; height: 50px;background-color: #716599; float: left;}
#header #nav{width: 1000px; height: 50px; background-color: #2F7FCF; float: left; margin-left: 175px;}

// Het CSS Layout Header //

#content{width: 1000px; height: auto; background-color: gray;}
#content #article{width: 650px; height: auto;background-color: #2E1AE4}
#content #article #line_1{ width: 640px; height: 250px; background-color: #3AB4C4; margin: 5px; float: right;}
#content #article #line_2{width: 640px; height: 70px; background-color: #C4BF3A; float: left;margin: 5px;}
#content #article #line_2 .line_201{width: 118px; height: 60px; background-color: #AA32CC; float: left;margin:5px;}
#content #article #line_3{ width: 640px; height: 250px; background-color: #3AB4C4; margin: 5px; float: left;}
#content #article #line_4{ width: 640px; height:400px; background-color: #C03E68; margin: 5px; float: left; }
#content #article #line_4 .line_4_1{ width: 630px; height: 70px; background-color: #00FF21; margin: 5px; float: left; }
#content #article .line_5{width: 640px; height: 150px; background-color: #1F9BDF; margin: 5px; float: left;}
#content #article .line_5 .line_5_1{width: 150px; height: 140px; background-color: #A5FF7F;margin: 5px; float: left;}
#content #article .line_7{width: 640px; height: 150px; background-color: blue; margin: 5px; float: left;}
#content #article .line_7 .line_7_1{width: 150px; height: 140px; background-color:black	;margin: 5px; float: left;}
#content #article .line_10{width: 640px; height: 150px; background-color: red; margin: 5px; float: left;}
#content #article .line_10 .line_10_1{width: 150px; height: 140px; background-color:#FF7FB6;margin: 5px; float: left;}
#content #article #line_13{ width: 640px; height: 400px; background-color: #7154AA; margin: 5px; float: left; }
#content #article #line_13 #line_13_1{width: 310px; height: 390px; background-color: #B34B6E; margin: 5px; float: left;}
#content #article #line_13 #line_13_2{width: 310px; height: 390px; background-color: #B34B6E; margin: 5px; float: left;}
#content #article #line_14{width: 640px; height: 200px; background-color: #6D9177;margin: 5px;float: left;}
#content #article #doitac{ width: 1000px; height: 70px; background-color: #FF7FB6; float: left; }
#content #article #doitac .doitac_1{ width: 90px; height: 60px; background-color: #0021FF; margin: 5px; float: left; }


/* Het CSS Layout Content */

#content #aside{width: 300px; height: 1000px; float:left; background-color: black;}


/*#footer{width: 100%; height: 250px; background-color: blue; clear: both; float: left;}
#footer .col_1{width: 156px; height: 240px; background-color: red; float: left; margin: 5px;}*/
