<html>
	<head>
		<meta charset="utf-8" />
		<title>Template | Header</title>
		<link rel="stylesheet" href="../css/styleTGDĐ.css" />
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
					<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li>Sim số <br/> Thẻ cào</li>
					<li>Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
	</body>
</html>