<html>
	<head>
		<meta charset="utf-8" />
		<title>Template | Slider</title>
		<link rel="stylesheet" href="../css/styleTGDĐ.css" />
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
					<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li class="simso">Sim số <br/> Thẻ cào</li>
					<li class="thecao">Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
		<div id="content" class="wrapper">
			<div id="line-1">
				<div id="slider">
					<img class="slider-images" src="../images/slider1.png" />
					<ul class="slider-items">
						<li>
							<a href="#">Đặt Trước Huawei Nova 3i Nhận Quà 1.2 Triệu <i class="item-border"></i></a>
							
						</li>
						<li>
							<a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Độc Quyền Nokia 3.1</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
						</li>
					</ul>
					<div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div></div>
					</div>
				</div>
				<div id="adv-1">adv-1</div>
			</div>
			<div class="product-cat">line product-cat</div>
			<div class="product-cat">line product-cat</div>
			<div id="phu-kien">
				<div class="wrapper">
					<div id="pkgr">Phụ kiện giá rẻ</div>
					<div id="menu">
						<ul id="list-pkgr-1">
							<li><a href="#">Pin sạc dự phòng</a></li>
							<li><a href="#">Cáp sạc</a></li>
							<li><a href="#">Thẻ nhớ</a></li>
							<li><a href="#">Tai nghe</a></li>
							<li><a href="#">Loa</a></li>
							<li><a href="#">Phụ kiện chính hãng</a></li>
							<li><a href="#">Gậy tự suóng</a></li>
							<li><a href="#">Xem tất cả <font style="font-weight: bold;">172</font>3.296 phụ kiện</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="ô">
				<div class="wrapper">
					<ul id="list-pkgr-2">
						<li>
							<img src="images/pin-sac-du-phong-polymer-10000mah-evalu-pa-l10-11-600x600.jpg" />
							eValu PA L10
							<h4 style ="color:red">400.000đ </h4>
						</li>
						<li>
							<img src="images/loa-bluetooth-mifa-bv150-12-600x600.jpg" />
							Mifa BV150
							<h4 style ="color:red">260.000đ <del style ="color:gray">400.000đ</del></h4>
						</li>
						<li>
							<img src="images/cap-micro-usb-20cm-x-mobile-mu03-avatar-1-600x600.jpg" />
							Cáp Xmobile MU 03
							<h4 style ="color:red">24.000đ  <del style ="color:gray">40.000đ</del></h4>
						</li>
						<li>
							<img src="images/the-nho-microsd-8gb-class-4-avatar-1-600x600.jpg" />
							Micro SD 8 GB class 4
							<h4 style ="color:red">150.000đ  <del style ="color:gray">200.000đ</del></h4>
						</li>
						<li>
							<img src="images/tai-nghe-chup-tai-kanen-ip-892-ava-600x600.jpg" />
							Tai nghe chụp tai Kanen ib-892
							<h4 style ="color:red">195.000đ   <del style ="color:gray">300.000đ</del></h4>
						</li>
					</ul>
				</div>
			</div>
			<div id="promotion">line product-cat</div>
		</div>
		<div id="footer">
	      <div class="wrapper">
	           <div class="col"> col-1</div>
		       <div class="col"> col-2</div>
		       <div class="col"> col-3</div>
		       <div class="col"> col-4</div>
		  </div>
	   </div>
	</body>
</html>