<html>
	<head>
		<meta charset="utf-8" />
		<title>Template | Slider</title>
		<link rel="stylesheet" href="../css/styleTGDĐ.css" />
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
					<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li class="simso">Sim số <br/> Thẻ cào</li>
					<li class="thecao">Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
		<div id="content" class="wrapper">
			<div id="line-1">
				<div id="slider">
					<img class="slider-images" src="../images/slider1.png" />
					<ul class="slider-items">
						<li>
							<a href="#">Đặt Trước Huawei Nova 3i Nhận Quà 1.2 Triệu <i class="item-border"></i></a>
							
						</li>
						<li>
							<a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Độc Quyền Nokia 3.1</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
						</li>
					</ul>
					<div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div></div>
					</div>
				</div>
				<div id="adv-1">
					<h3><a href="#"><span>Tin công nghệ</span></a></h3>
					<div class="tin-tieu-diem">
						<img src="images/adv-1/pixel-3-xl_801x449-100x100.jpg" />
						<p><a href="#">Google Pixel 3 XL với chip Snapdragon 845, RAM 4GB lộ điểm sức mạnh trên Geekbench</a></p>
						<span><a href="#">1 giờ trước</a></span>
					</div>
					<ul class="anh-quang-cao">
						<li><a href="#"><img src="images/adv-1/01_08_2018_07_02_05_j7proplus-Thang8_398-110.png" /></a></li>
						<li><a href="#"><img src="images/adv-1/31_07_2018_16_35_24_iPhone-X-398-110.png" /></a></li>
					</ul>
				</div>
			</div>
			<div class="product-cat">line product-cat</div>
			<div class="product-cat">line product-cat</div>
			<div class="product-cat">line product-cat</div>
			<div id="promotion">line product-cat</div>
		</div>
	</body>
</html>