* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body {
    background-color: #eee;
}

.wrapper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%;
    height: 55px;
    background-color: #FED700;
}

#header #task {
    width: 1200px;
    height: 55px;
}

#header #task #logo {
    width: 170px;
    height: 55px;
    float: left;
    background-color: black;
}

#header #task #logo img {
    width: 170px;
    height: 55px;
    display: inline;
    line-height: 23px;
    cursor: pointer;
}

#header #task #search {
    width: px;
    height: 55px;
    background-color: black;
    float: left;
}

#header #task #search input[type=text] {
    padding: 8px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5px;
}

#header #task #nav {
    width: 780px;
    height: 55px;
    float: left;
}

#header #task #nav #list li {
    display: inline;
    width: 77px;
    line-height: 10px;
    text-transform: uppercase;
    background-color: #FED700;
    float: left;
    height: 35px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
}

#header #task #nav #list li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#header #task #nav #list li:hover {
    background-color: white;
    cursor: pointer;
}

#header #task #nav #list li i {
    width: 16px;
    height: 20px;
    display: block;
    margin: 2px auto 3px;
    background-image: url('../icon/icondesktop@1x.png');
    background-repeat: no-repeat;
}

#header #task #nav #list li i.dt {
    background-position: -180px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.tb {
    background-position: -209px 0;
    width: 34px;
    height: 28px;
}

#header #task #nav #list li i.lt {
    background-position: -244px 0;
    width: 41px;
    height: 28px;
}

#header #task #nav #list li i.pk {
    background-position: -285px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.cu {
    background-position: -314px 0;
    width: 35px;
    height: 28px;
}

#header #task #nav #list li i.km {
    background-position: -471px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.cn {
    background-position: -437px 0;
    width: 35px;
    height: 28px;
}

#header #task #nav #list li i.hd {
    background-position: -406px 0;
    width: 30px;
    height: 28px;
}


















































#footer {
    width: 1200px;
    background-color: white;
    height: 205px;
    margin-top: 10px;
}

#footer #bgfooter {
    width: 1200px;
    height: 205px;
    display: block;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer #bgfooter .list_footer {
    width: 300px;
    height: 195px;
    float: left;
    font-size: 14px;
}

#footer #bgfooter .list_footer_2 {
    width: 300px;
    height: 195px;
    float: left;
    font-size: 14px;
}

#footer #bgfooter .list_footer_2 li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer_2 a {
    color: #2A8BD6;
    font-weight: initial;
    text-decoration: none;
    line-height: 35px;
}

#footer #bgfooter .list_footer_2 li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer a {
    color: #2A8BD6;
    font-weight: initial;
    text-decoration: none;
    line-height: 35px;
}

#footer #bgfooter .list_footer a:hover {
    color: black;
}

#footer #bgfooter .list_footer li {
    list-style-type: none;
    padding-left: 10px;
    line-height: 37px;
}

#footer #footer_bold {
    width: 100%;
    height: 30px;
    clear: both;
    font-size: 10px;
    text-align: center;
    color: gray;
}

#goTop {
    bottom: 40px;
    cursor: pointer;
    display: none;
    height: 44px;
    position: fixed;
    right: 15px;
    width: 44px;
    z-index: 1200;
}