* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body {
    background-color: white;
}

.wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%;
    height: 55px;
    background-color: #FED700;
}

#header #task {
    width: 1200px;
    height: 55px;
}

#header #task #logo {
    width: 170px;
    height: 55px;
    float: left;
    background-color: black;
}

#header #task #logo img {
    width: 170px;
    height: 55px;
    display: inline;
    line-height: 23px;
    cursor: pointer;
}

#header #task #search {
    width: px;
    height: 55px;
    background-color: black;
    float: left;
}

#header #task #search input[type=text] {
    padding: 8px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5px;
}

#header #task #nav {
    width: 780px;
    height: 55px;
    float: left;
}

#header #task #nav #list li {
    display: inline;
    width: 77px;
    line-height: 10px;
    text-transform: uppercase;
    background-color: #FED700;
    float: left;
    height: 35px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
}

#header #task #nav #list li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#header #task #nav #list li:hover {
    background-color: white;
    cursor: pointer;
}

#header #task #nav #list li i {
    width: 16px;
    height: 20px;
    display: block;
    margin: 2px auto 3px;
    background-image: url('../icon/icondesktop@1x.png');
    background-repeat: no-repeat;
}

#header #task #nav #list li i.dt {
    background-position: -180px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.tb {
    background-position: -209px 0;
    width: 34px;
    height: 28px;
}

#header #task #nav #list li i.lt {
    background-position: -244px 0;
    width: 41px;
    height: 28px;
}

#header #task #nav #list li i.pk {
    background-position: -285px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.cu {
    background-position: -314px 0;
    width: 35px;
    height: 28px;
}

#header #task #nav #list li i.km {
    background-position: -471px 0;
    width: 28px;
    height: 28px;
}

#header #task #nav #list li i.cn {
    background-position: -437px 0;
    width: 35px;
    height: 28px;
}

#header #task #nav #list li i.hd {
    background-position: -406px 0;
    width: 30px;
    height: 28px;
}

#container {
    width: 1200px;
    min-height: 500px;
    margin-top: 10px;
}

#link {
    width: 1200px;
    height: 20px;
}

#link a {
    color: #068DFF;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
}

#link span {
    color: gray;
    font-size: 18px;
}

#nav-name {
    width: 1200px;
    height: 35px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
}

#nav-name #name {
    font-weight: initial;
    width: 300px;
    float: left;
}

#nav-name #vote {
    width: 750px;
    float: left;
}

#nav-name #vote a {
    text-decoration: none;
    color: #068DFF;
    position: absolute;
    margin-top: 8px;
    margin-left: 95px;
}

#nav-name #vote img {
    position: absolute;
    margin-top: 10px;
}

#nav-name #mxh {
    width: 150px;
    float: right;
}

#nav-name #mxh img {
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 3px;
}

#nav-name #mxh button {
    background-color: #0A5BC9;
    width: 75px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    float: left;
    margin: 2px;
}

#nav-name #mxh button:hover {
    background-color: #0010E7;
}

#main {
    width: 1200px;
    height: 960px;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
}

#main #col-1 {
    width: 470px;
    height: 590px;
    float: left;
}

#main #col-1 #img {
    width: 400px;
    height: 460px;
    margin-left: 30px;
    cursor: pointer;
}

#main #col-1 #slide {
    width: 400px;
    height: 60px;
    margin-left: 35px;
    margin-top: 14px;
}

#main #col-1 button {
    width: 58px;
    height: 58px;
    background-color: white;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}



#main #col-2 {
    width: 405px;
    height: 940px;
    float: left;
    margin-left: 22px;
}

#main #col-2 #line-1 {
    width: 403px;
    height: 360px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}

#main #col-2 #line-1 #hang-1 {
    width: 403px;
    height: 55px;
    background-image: url(../images/dienthoai/product/dienthoai001/bg/bg.png);
}

#main #col-2 #line-1 #bg2 {
    width: 403px;
    height: 7px;
    background-color: #fff4de;
    background-image: url(../images/dienthoai/product/dienthoai001/bg/bg2.png);
}

#main #col-2 #line-1 #hang-1 #element-left {
    width: 38px;
    height: 45px;
    float: left;
    background-image: url(../images/dienthoai/product/dienthoai001/bg/element_left.png);
}

#main #col-2 #line-1 #hang-1 #element-right {
    width: 38px;
    height: 45px;
    float: right;
    position: absolute;
    background-image: url(../images/dienthoai/product/dienthoai001/bg/element_right.png);
    margin-left: 364px;
}

#main #col-2 #line-1 #hang-1 #price {
    width: 280px;
    height: 35px;
    float: left;
    margin-left: 23px;
    margin-top: 10px;
}

#main #col-2 #line-1 #hang-2 {
    width: 403px;
    height: 140px;
    background-color: #fff4de;
}

#main #col-2 #line-1 #hang-2 #nav {
    width: 400px;
    height: 140px;
    margin-left: 30px;
}

#main #col-2 #line-1 #hang-2 #nav a {
    line-height: 28px;
    color: #3A3838;
    text-decoration: none;
    font-size: 15px;
    cursor: text;
}

#main #col-2 #line-1 #hang-2 #nav li {
    list-style-image: url(../images/dienthoai/product/dienthoai001/bg/bullet.png);
}

#main #col-2 #line-1 #hang-3 {
    width: 403px;
    height: 53px;
}

#main #col-2 #line-1 #hang-3 button {
    width: 385px;
    height: 53px;
    margin-left: 9px;
    margin-top: 5px;
    background-image: linear-gradient(-180deg, #e52025 2%, #d81116 96%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#main #col-2 #line-1 #hang-4 {
    width: 403px;
    height: 53px;
}

#main #col-2 #line-1 #hang-4 button {
    width: 385px;
    height: 53px;
    margin-left: 9px;
    margin-top: 15px;
    background-image: linear-gradient(-180deg, #288ad6 0%, #0e74c3 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#main #col-2 #line-1 #hang-5 {
    width: 403px;
    height: 53px;
    float: left;
    margin-top: 25px;
    text-align: center;
}

#main #col-2 #line-1 #hang-5 a {
    color: #3A93F7;
    text-decoration: none;
}
.hr{
    width: 395px;
    margin:15px 0 15px 10px;
}
.hr label{
    width: 42%;
    float: left;    
    border-top: 1px solid #eee;
}

.hr span{
    width: 14%;
    float: left;
    margin-top: -8px;
    font-weight: bold;
    text-align: center;
}

#main #col-2 #line-2{
    width: 403px;
    height: 450px;
    margin-top: 5px;
    float: left;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}
#main #col-2 #line-2 #hang-6{
    width: 403px;
    height: 58px;
    float: left;
    background-color: #F0F0F0;
    text-align: center;
}

#main #col-2 #line-2 #hang-6 #price{
    width: 403px;
    height: 40px;
    margin-top: 10px;
}

#main #col-2 #line-2 #hang-7{
    width: 403px;
    height: 175px;
}
#main #col-2 #line-2 #hang-7 #text{
    float: left;s
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 0 5px;
}

#main #col-2 #line-2 #hang-7 #list{
    width: 403px;
    height: 115px;
    float: left;
    margin: 5px 0 0 0;

}

#main #col-2 #line-2 #hang-7 #list ul li{
    float: left;
    text-align: left;
    font-size: 15px;
    margin: 5px 0 5px 25px;
    list-style-image: url(../icon/check2.png)


}
#main #col-2 #line-2 #hang-7 #luuy{
    width: 403px;
    height: 20px;
    float: left;
    text-align: left;
    margin-left: 10px;
    font-size: 13px;
    color: #BF0A0A;

}
#main #col-2 #line-2 #hang-8{
    width: 403px;
    height: 225px;
    margin-top: 5px;
}
#main #col-2 #line-2 #hang-8 #checkbox{
    width: 175px;
    height: 30px;
    float: left;
    margin-top: 10px;   
}
#main #col-2 #line-2 #hang-8 #select{
    width: 255px;
    height: 25px;
    float: left;
    font-size: 15px;
}
#main #col-2 #line-2 #hang-8 #button-1{
    width: 285px;
    height: 60px;
    float: left;
}
#main #col-2 #line-2 #hang-8 #button-1 #btn-1{
    width: 118px;
    height: 61px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border: 1px solid #FD5900;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -3px 3px 5px -3px;
}
#main #col-2 #line-2 #hang-8 #button-1 #btn-2{
    width: 118px;
    height: 61px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -3px 3px 5px -3px;
}
#main #col-2 #line-2 #hang-8 #button-2{
    width: 403px;
    height: 70px;
    float: left;
    margin-top: 20px;
}
#main #col-2 #line-2 #hang-8 #button-2 #btn-3{
    width: 373px;
    height: 55px;
    background-image: linear-gradient(-180deg, #f59000 2%, #fd6e1d 96%);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}


#main #col-3 {
    width: 280px;
    height: 365px;
    float: left;
    margin-left: 22px;
}

#main #col-3 #hang-9{
    width: 278px;
    height: 130px;
    float: left;
    border: dashed 1px #FF6000;
}
#main #col-3 #hang-9 #text{
    width: 265px;
    float: right;
    margin-top: 10px;
    font-size: 15px;
}
#main #col-3 #hang-9 #text a{
    text-decoration: none;
    color: #0EA1FF;
}
#main #col-3 #hang-9 #text a:hover{
    text-decoration: underline;
}
#main #col-3 #hang-10{
    width: 278px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    float: left;
}
#main #col-3 #hang-11{
    width: 278px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    float: left;

}

#main #col-3 #hang-11 #select{
    width: 278px;
    height: 40px;
    border: 1px solid #C4C2C2;
    border-radius: 5px;
    margin-top: 10px;
}














#footer {
    width: 1200px;
    background-color: white;
    height: 205px;
    float: left;
    margin-top: 10px;
}

#footer #bgfooter {
    width: 1200px;
    height: 205px;
    display: block;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer #bgfooter .list_footer {
    width: 300px;
    height: 195px;
    float: left;
    font-size: 14px;
}

#footer #bgfooter .list_footer_2 {
    width: 300px;
    height: 195px;
    float: left;
    font-size: 14px;
}

#footer #bgfooter .list_footer_2 li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer_2 a {
    color: #2A8BD6;
    font-weight: initial;
    text-decoration: none;
    line-height: 35px;
}

#footer #bgfooter .list_footer_2 li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer li {
    list-style-type: none;
    padding-left: 10px;
}

#footer #bgfooter .list_footer a {
    color: #2A8BD6;
    font-weight: initial;
    text-decoration: none;
    line-height: 35px;
}

#footer #bgfooter .list_footer a:hover {
    color: black;
}

#footer #bgfooter .list_footer li {
    list-style-type: none;
    padding-left: 10px;
    line-height: 37px;
}

#footer #footer_bold {
    width: 100%;
    height: 30px;
    clear: both;
    font-size: 10px;
    text-align: center;
    color: gray;
}
#goTop {
    bottom: 40px;
    cursor: pointer;
    display: none;
    height: 44px;
    position: fixed;
    right: 15px;
    width: 44px;
    z-index: 1200;
}