<html>
	<head>
		<meta charset="utf-8" />
		<title>Template | slider</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
					<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li class="simso">Sim số <br/> Thẻ cào</li>
					<li class="thecao">Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
		<div id="content" class="wrapper">
			<div id="line-1">
				<div id="slider">
					<img class="slider-images" src="images/slider1.png" />
					<ul class="slider-items">
						<li>
							<a href="#">Đặt Trước Huawei Nova 3i Nhận Quà 1.2 Triệu <i class="item-border"></i></a>
							
						</li>
						<li>
							<a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Độc Quyền Nokia 3.1</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
							<i class="item-border"></i>
						</li>
						<li>
							<a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
						</li>
					</ul>
					<div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div>
					</div>
				</div>
				<div id="adv-1">
					<h3><a href="#"><span>Tin công nghệ</span></a></h3>
					<div class="tin-tieudiem">
						<img src="images/news/tin1.jpg" />
						<p><a href="#">Hàng loạt smartphone Motorola được giảm giá sốc lên đến 2 triệu</a></p>
						<span><a href="#">1 giờ trước</a></span>
					</div>
					<ul class="anh-quangcao">
						<li><a href="#"><img src="images/adv/adv1.png" /></a></li>
						<li><a href="#"><img src="images/adv/adv2.png" /></a></li>
					</ul>
				</div>
			</div>
			<div class="giasoc-cuoituan">
				<div class="sanpham">
				<a href="#">
					<img src="images/product/dt1.jpg" />
					<label class="giamgia"> GIẢM 1.0000.000 đ</label>
					<h3>OPPO F7</h3>
					<p class="gia" >7.990.000đ</p>
					<div class="khuyenmai">
						<img src="images/product/km1.jpg" />
						<p>Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
					<img src="images/product/dt2.jpg" />
					<label class="giamgia"> GIẢM 1.0000.000 đ</label>
					<h3>OPPO F7</h3>
					<p class="gia" >7.990.000đ</p>
					<div class="khuyenmai">
						<img src="images/product/km1.jpg" />
						<p>Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
					<img src="images/product/dt3.jpg" />
					<label class="giamgia"> GIẢM 1.0000.000 đ</label>
					<h3>OPPO F7</h3>
					<p class="gia" >7.990.000đ</p>
					<div class="khuyenmai">
						<img src="images/product/km1.jpg" />
						<p>Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
					<img src="images/product/dt4.jpg" />
					<label class="giamgia"> GIẢM 1.0000.000 đ</label>
					<h3>OPPO F7</h3>
					<p class="gia" >7.990.000đ</p>
					<div class="khuyenmai">
						<img src="images/product/km1.jpg" />
						<p>Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
				<div class="sanpham">
				<a href="#">
					<img src="images/product/dt5.jpg" />
					<label class="giamgia"> GIẢM 1.0000.000 đ</label>
					<h3>OPPO F7</h3>
					<p class="gia" >7.990.000đ</p>
					<div class="khuyenmai">
						<img src="images/product/km1.jpg" />
						<p>Bình giữ nhiệt inox DMX-002 500ml khi mua online</p>
					</div>
				</a>
				</div>
			</div>	
			<div class="product-cat">
				<div class="tieu-de">
					<h2>ĐIỆN THOẠI NỔI BẬT NHẤT</h2>
					<div class="ds-danhmuc">
						<a href="#">Apple Iphone</a>
						<a href="#">Samsung</a>
						<a href="#">Màn hình viền</a>
						<a href="#">Giá từ 3-5 triệu</a>
						<a href="#">Trả góp 0%</a>
						<a href="#">Xem tất cả 174 điện thoại</a>
					</div>
				</div>
				<ul class="ds-sanpham">
					<li class="sp-tieubieu">
						<a href="#">
							<img src="images/product/dt-tieubieu-1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">Dự kiến: 24.000.000đ</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-tieubieu">
						<a href="#">
							<img src="images/product/dt-tieubieu-1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">Dự kiến: 24.000.000đ</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
				</ul>
			
			</div>
			<div class="product-cat">
				<div class="tieu-de">
					<h2>MÁY TÍNH BẢNG NỔI BẬT NHẤT</h2>
					<div class="ds-danhmuc">
						<a href="#">Apple Iphone</a>
						<a href="#">Samsung</a>
						<a href="#">Màn hình viền</a>
						<a href="#">Giá từ 3-5 triệu</a>
						<a href="#">Trả góp 0%</a>
						<a href="#">Xem tất cả 174 điện thoại</a>
					</div>
				</div>
				<ul class="ds-sanpham">
					<li class="sp-tieubieu">
						<a href="#">
							<img src="images/product/dt-tieubieu-1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">Dự kiến: 24.000.000đ</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-tieubieu">
						<a href="#">
							<img src="images/product/dt-tieubieu-1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">Dự kiến: 24.000.000đ</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
				</ul>
			
			</div>
			
			<div class="product-cat">
				<div class="tieu-de">
					<h2>PHỤ KIỆN GIÁ RẺ</h2>
					<div class="ds-danhmuc">
						<a href="#">Apple Iphone</a>
						<a href="#">Samsung</a>
						<a href="#">Màn hình viền</a>
						<a href="#">Giá từ 3-5 triệu</a>
						<a href="#">Trả góp 0%</a>
						<a href="#">Xem tất cả 174 điện thoại</a>
					</div>
				</div>
				<ul class="ds-sanpham">
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt1.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt2.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
					<li class="sp-thuong">
						<a href="#">
							<img src="images/product/dt3.jpg" />
							<h3>Samsung Galaxy A6 (2018)</h3>
							<p class="gia">24.000.000đ</p>
							<p class="khuyenmai"> Giảm 600.000đ qua quà tặng Galaxy và 5 phụ kiện đi kèm</p>
							<label class="tragop">Trả góp 0%</label>
						</a>
					</li>
				</ul>
			
			</div>
			<div id="promotion">
				<h2>KHUYẾN MÃI TẠI CÁC WEBSITE THÀNH VIÊN</h2>
				<ul>
					<li><a href="#"><img  src="images/khuyenmai/km1.png" /></a></li></li>
					<li><a href="#"><img  src="images/khuyenmai/km2.png" /></a></li></li>
					<li><a href="#"><img  src="images/khuyenmai/km3.jpg" /></a></li></li>
				</ul>
			</div>	
		</div>
			
		</div>
	</body>
</html>