<html>
	<head>
		<meta charset="utf-8" />
		<title>Template | slider</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
					<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
					<i class="search-icon"></i>
				</div>
				<ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li class="simso">Sim số <br/> Thẻ cào</li>
					<li class="thecao">Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
		<div id="content" class="wrapper">
			<div id="thongtin-sp">
				<ul class="breakcrumb">
					<li><a href="#">Trang chủ</a><span>></span></li>
					<li><a href="#">Điện thoại</a><span>></span></li>
					<li><a href="#">Samsung</a></li>
				</ul>	
				
				<div id="row-top">	
					<span style="font-size:25px;float:left;">Điện thoại Samsung Galaxy J8</span>
					<div id="rating-result">
						<span class="star full-star"></span>
						<span class="star full-star"></span>
						<span class="star full-star"></span>
						<span class="star full-star"></span>
						<span class="star half-star"></span>
						<a style="color:blue" href="#danhgia">111 đánh giá</a>
					</div>
					<div id="like-share"></div>
				</div>
				
				<div id="row-detail">
					<div id="col-1">
						<img src="images/samsung-galaxy-j8-400x460.png">
						
					</div>
					<div id="col-2">
						<p class="gia">24.000.000đ</p>
						<label class="tragop">Trả góp 0%</label>
						
						<div class="tsh">
							<span><a style="color:green;"href="#">NHẬN HÀNG TRONG 1 GIỜ</a></span>
						</div>
						
						<div class="area_promotion">
							<strong data-count="4">Khuyến mãi</strong>
							<div id="infopr">
                                <span class="inf">
                                    Giảm ngay 500.000đ (áp dụng từ 9/11 - 30/11)
									</br>
                                </span>
                                <span class="inf">
                                    Gói quà tặng Galaxy xem phim &amp; uống cafe cuối tuần<a style="color:blue" href="https://www.thegioididong.com/tin-tuc/uu-dai-cuc-cool-khi-mua-galaxy-a6-a6--galaxy-j6-va-galaxy-j4-1093367">Xem chi tiết</a>                                    
									</br>
								</span>
                                <span class="inf">
                                    Cơ hội trúng 61 xe Wave Alpha khi trả góp Home Credit  
									</br>
								</span>
							</div>
							
							<aside class="onlinepromo">
								<b>Mua online tặng thêm quà</b>
								<div class="pro-img">
									<ul class="t1">
										<li class="">
											<label>
												
												<img class="prmImg" src="images/phieu-mua-hang-100000d-km-200x200.jpg" title="Click để xem hình lớn">
												<h3>
													<span style="font-size:14px;">
														Phiếu mua hàng Samsung trị giá 100.000đ
														
													</span>
												</h3>
											</label>
										</li>
									</ul>
								</div>
							</aside>
						
						</div>
						
						<div id="form-thanh-toan">						
							<input type="checkbox" name="none" value=""1/>
							<span><b>Yêu cầu nhân viên kỹ thuật giao hàng:</b> hỗ trợ copy danh bạ, hướng dẫn sử dụng máy mới, giải đáp thắc mắc sản phẩm.</span>
							</br>
							
							<div class="zalopay">
								<img width="66" src="images/ZaloPay-Text@2x.png">
								Giảm ngay 50% tối đa <b>250.000đ</b> khi thanh toán qua ZaloPay cho khách hàng mới <a href="#" target="_blank">Click xem chi tiết</a>
							</div>
						</div>
						
						<div class="area_order">
							<a href="#" class="buy_now" data-value="153830"><b>Mua ngay </b><span>Giao trong 1 giờ hoặc nhận tại siêu thị</span></a>

							
							<a class="buy_repay " href="#"><b>Mua trả góp 0%</b><span>Thủ tục đơn giản</span></a>
							<a class="buy_repay s " href="#"><b>Trả góp  qua thẻ</b><span>Visa, Master, JCB</span></a>

						</div>		

						<div class="callorder">
							<div class="ct">
								<span>Gọi đặt mua: <a href="tel:18001060">1800.1060</a> (miễn phí - 7:30-22:00)</span>
							</div>
						</div>
										
					</div>
					<div id="col-3">
						<strong class="kthlbl"><i class="iconshop-local"></i>Kiểm tra có hàng tại nơi bạn ở không? </strong>
						
						
					</div>
				</div>
			
			</div>	
			
		</div>
			
		</div>
	</body>
</html>