*{margin: 0; padding: 0;}

.wrapper{width: 1200px; height: auto; margin: 0 auto; padding: 0; background-color: gray}

#header{width: 100%; height: 50px; background-color: red;}
#header #logo{width: 100px; height: 50px; background-color: #D02EAB; float: left; margin-left: 83px;}
#header #nav{width: 500px; height: 50px; background-color: #8342BC; float: left;}
#header #list{width: 350px; height: 50px; background-color: #558DA9; float: left;}
#header #search{width: 250px; height: 50px; background-color: #3479CA; float: left;}

/* Het Css*/

#content{width: 1200px; height: 3160px; background-color: #3640C8;}
#content #article{width: 790px; height: 3150px; background-color: #3DB1C1; float: left;margin: 5px;}
#content #article #line_1{ width: 780px; height: 420px; background-color: #3DC15D; float: left;margin: 5px;}
#content #article #line_2{width: 780px; height: 225px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_3{width: 780px; height: 225px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_4{width: 780px; height: 225px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_5{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_6{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_7{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_8{width: 780px; height: 560px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_9{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_10{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}
#content #article #line_11{width: 780px; height: 230px; background-color: #C96A35; float: left;margin: 5px;}


/* het Article*/


#content #aside{width: 390px; height: 3150px; background-color: #7FC9FF; float: left;margin: 5px;}
#content #aside #line_1{width: 380px; height: 420px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_2{width: 380px; height: 100px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_3{width: 380px; height: 100px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_5{width: 380px; height: 100px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_4{width: 380px; height: 100px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_6{width: 380px; height: 100px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_7{width: 380px; height: 790px;background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_8{width: 380px; height: 580px; background-color: #CD31A5; float: left;margin: 5px;}
#content #aside #line_9{width: 380px; height: 360px; background-color: #CD31A5; float: left;margin: 5px;}


/* Het Content */

#footer{width: 100%; height: 350px; background-color: black;}
#footer #thongtin{width: 100%; height: 170px; background-color: #BEB940; margin: 5px 0px 5px 0px;}
#footer #thongtin .line_1{width: 259px; height: 160px; background-color: #4269BC; margin: 5px; float: left;}
#footer #lienhe{width: 100%; height: 170px; background-color: #50AE64; }
