*{
	margin: 0;
	padding: 0;
	font-family: arial;
	position: relative;
}

body{
	background: #F0F0F0;
}

#content{
	width: 100%;
	min-height: 300px;
	margin-top: 10px;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

#line-1{
	list-style: none;
    height: 45px;
    width: 1200px;
	line-height: 46px;
	background: white;
}

#line-1 li{
	display: inline;
    margin: 0px 10px;
    line-height: 42px;
    float: right;
    height: 25px;
    font-size: 14px;
    font-family: arial;
    padding: 0px 5px 5px 5px;
    text-align: left;
    color: #288AD6;
}

#line-1 li:hover{
	cursor:pointer;
	color:#288AD6;
	text-decoration: underline;
}

#line-1 li i{
	width: 36px;
    height: 35px;
    margin: 12px auto 13px;
}

#content #line-2{
    width: 100%px;
	height: 286px;
	background: white;
}

#content #line-2 #sp1{
    width: 476px;
    height: 285px;
    float: left;
	border-top: solid 1px gray;
}

#content #line-2 #sp1 #oppo_x{
    width: 150px;
    height: 20px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
}

#content #line-2 #sp1 #oppo_x:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-2 #sp1 #oder{
	color: white;
    font-size: 11px;
    width: 99px;
    height: 22px;
    float: left;
    margin-left: 200px;
    line-height: 23px;
    background-color: red;
}

#content #line-2 #sp1 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 69px;
    margin-left: -150px;
    font-weight: bold;
}

#content #line-2 #sp1 .installment{
    display: inline-block;
    position: absolute;
    top: 237px;
    left: 352px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-2 #sp{
    width: 720px;
	height: 285px;
    float: left;
	border-top: solid 1px gray;
}

#content #line-2 #sp .col{
	width: 200px;
    height: 285px;
}

#content #line-2 #sp #sp2{
	float: left;
	margin-left: 15px;
}

#content #line-2 #sp #sp2 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-2 #sp #sp2 #j8{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 133px;
}

#content #line-2 #sp #sp2 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-2 #sp #sp2 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-2 #sp #sp2 .installment{
    display: inline-block;
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-2 #sp #sp3{
    float: left;
	margin-left: 20px;
}

#content #line-2 #sp #sp3 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-2 #sp #sp3 #iphone8{
    width: 200px;
    height: 22px;
    float: left;
    color: black;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 140px;
}

#content #line-2 #sp #sp3 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: 8px;
    margin-left: 10px;
}

#content #line-2 #sp #sp3 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -6px;
}

#content #line-2 #sp #sp3 .installment{
    display: inline-block;
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-2 #sp #sp4{
    float: left;
	margin-left: 25px;
}

#content #line-2 #sp #sp4 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-2 #sp #sp4 #j6{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 133px;
}

#content #line-2 #sp #sp4 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-2 #sp #sp4 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-2 #sp #sp4 .installment{
    display: inline-block;
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-3{
    width: 100%px;
	height: 310px;
}

#content #line-3 #sp1{
    width: 476px;
    height: 285px;
    float: left;
	border-top: solid 1px gray;
	background: white;
}

#content #line-3 #sp1 #a6{
    width: 200px;
    height: 20px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
}

#content #line-3 #sp1 #a6:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-3 #sp1 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 69px;
    margin-left: -200px;
    font-weight: bold;
}

#content #line-3 #sp1 .installment{
    display: inline-block;
    position: absolute;
    top: 236px;
    left: 397px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-3 #sp1 #price:hover{
	cursor: pointer;
}

#content #line-3 #sp{
    width: 720px;
	height: 285px;
    float: left;
	border-top: solid 1px gray;
	background: white;
}

#content #line-3 #sp .col{
	width: 200px;
    height: 285px;
}

#content #line-3 #sp #sp2{
	float: left;
	margin-left: 15px;
}

#content #line-3 #sp #sp2 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-3 #sp #sp2 #nokia{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 133px;
}

#content #line-3 #sp #sp2 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-3 #sp #sp2 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-3 #sp #sp2 .installment{
    display: inline-block;
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-3 #sp #sp3{
    float: left;
	margin-left: 20px;
}

#content #line-3 #sp #sp3 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-3 #sp #sp3 #ip8{
    width: 200px;
    height: 22px;
    float: left;
    color: black;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 140px;
}

#content #line-3 #sp #sp3 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: 8px;
    margin-left: 10px;
}

#content #line-3 #sp #sp3 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -6px;
}

#content #line-3 #sp #sp3 .installment{
    display: inline-block;
	position: absolute;
    top: 165px;
    left: 10px;
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
    padding-right: 10px;
	font-size: 11px;
    color: #fff;
    font-weight: 600;
	height: 18px;
}

#content #line-3 #sp #sp4{
    float: left;
	margin-left: 25px;
}

#content #line-3 #sp #sp4 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-3 #sp #sp4 #ip6{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 133px;
}

#content #line-3 #sp #sp4 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-3 #sp #sp4 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-3 #sp #sp4 .installment{
    display: inline-block;
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}