
#body{
	background:#E4E4E4;
	width:700px:
	min-height:400px;
	margin: 0 auto;
	}
	
#body #hop_2{
	background:red;
	width:50px:
	min-height:50px;
}
#body #hop_3{
	background:green;
	width:100px:
	min-height:200px;
}
#body #hop_4{
	background:yellow;
	width:100px:
	min-height:200px;
}
#body #hop_5{
	background:gray;
	width:100px:
	min-height:200px;
}
#body #hop_6{
	background:violet;
	width:100px:
	min-height:200px;
}