/* reset css*/
*{margin: 0; padding:0}

body{
	background: white;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

#header{
	width: 100%;
	height: 55px;
	background: pink;
	float: left;
}

#header #logo{
	width: 100px;
	height: 50px;
	background: green;
	float: left;
}

#header #menu{
	width: 700px;
	height: 50px;
	background: red;
	float: left
}

#header #search{
	width: 200px;
	height: 50px;
	background: gray;
	float: left;
}

#content{
	background: white;
	min-height: 700px;
}

#content #line-1 #adv-1{
	height: 200px;
	width: 1000px;
	background: orange;
	float:left;
}

#content #line-2{
	height: 300px;
	width: 1000px;
	background: orange;
	float:left;
}

#content #line-2 #slider-1{
	height: 300px;
	width: 650px;
	background: blue;
	float:left;
}

#content #line-2 #slider-2{
	height: 300px;
	width: 350px;
	background: violet;
	float:left;
}

#content #line-3{
	height: 300px;
	width: 1000px;
	background: orange;
	float:left;
}

#content #line-3 #album-hot{
	height: 300px;
	width: 650px;
	background: cyan;
	float:left;
}

#content #line-3 #chu-de-hot{
	height: 300px;
	width: 350px;
	background: gray;
	float:left;
}


#content #line-4 #nghe-gi-hom-nay{
	height: 300px;
	width: 650px;
	background: chocolate;
	float: left;
}

#content #line-5 #MV-hot{
	height: 300px;
	width: 650px;
	background: khaki;
	float: left;
}

#content #line-6 #BXH-bai-hat{
	height: 300px;
	width: 350px;
	background: Thistle;
	float: right;
}

#content #line-7{
	height: 250px;
	width: 1000px;
	background: navy;
	float: left;
}

#content #line-7 #bai-hat{
	height: 250px;
	width: 650px;
	background: PaleGreen;
	float:left;
}

#content #line-7 #BXH-MV{
	height: 250px;
	width: 350px;
	background: RosyBrown;
	float:left;
}

#content #line-8{
	height: 250px;
	width: 1000px;
	background: sliver;
	float: left;
}

#content #line-8 #karaooke{
	height: 250px;
	width: 650px;
	background: Tan;
	float: left;
}

#content #line-8 #nghe-si-hot{
	height: 250px;
	width: 350px;
	background: Purple;
	float: left;
}

#content #line-9 #phim-hai-kich{
	height: 100px;
	width: 1000px;
	background: Tomato;
	float: left;
}

#footer .col{
	height: 100px;
	width: 180px;
	background: cyan;
	float:left;
	margin: 10px;
}