/* reset css*/
*{
    margin: 0;
    padding: 0;
}
body{
    background:#D0;
    width: 100%;
    height: 2581px;
}
.wrapper{
    width: 1205px;
    height: auto;
    margin: 0 auto;
}
/* ---Header---*/
#header{
    width:100%;
    height: 55px;
    background: #FF8C00; 
    float: left;
}
#header .wrapper{
    background: #000;
    height: 55px;
}
#header #logo{
    width: 160px;
    height: 30px;
    background: url('icondesktop@1x.png');
    float: left;
    margin: 10px 0;
}
#header #search{
    width: 200px;
    height: 35px;
    float: left;
    position: relative;
}
#header #search #txtsearch{
    font-size: 12px;
    text-indent: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px gray;
    margin: 10px 15px;
}
#header #search .search_icon{
    width: 30px;height: 30px;
    background: url('icondesktop@1x.png') no-repeat scroll;
    background-position: -156px 0px;
    position: absolute;
    top:16px;
    right: 15px;
}
#header ul#main_nenu{
    list-style-type: none;
}
#header ul#main_menu li{
    display: inline;
    line-height: 23px;
    height: 27px;  
    padding: 0px 10px 28px 10px;
    background: #FF8C00; 
    float:left;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
#header ul#main_menu li:hover{
    background: #F0FFFF;
    cursor: pointer;
}
#header ul#main_menu li i.icon{
    width: 16px;
    height: 25px;
    display: block;
    margin: 5px auto 5px;
    background-image:  url('icondesktop@1x.png');
    background-repeat: no-repeat;
}
#header ul#main_menu li i.dt{
    background-position: -190px 0;
}
#header ul#main_menu li i.tb{
    width: 34px;
    background-position: -209px 0;
}
#header ul#main_menu li i.lt{
    width: 40px;
    background-position: -245px 0;
}
#header ul#main_menu li i.pk{
    width: 25px;
    background-position: -287px 0;
}
#header ul#main_menu li i.cgr{
    width: 34px;
    background-position: -315px 0;
}
#header ul#main_menu li i.km{
    width: 22px;
    background-position: -475px 0;
}
#header ul#main_menu li i.cn{
    width: 29px;
    background-position: -376px 0;
}
#header ul#main_menu li i.hd{
    width: 25px;
    background-position: -409px 0;
}
#list_2 li.ss
{
    text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    line-height:27px;
}
#list_2 li.dt
{
    width:113px;
    text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    line-height:27px;
}
.may 
{
    display: block;
    position: absolute;
    top: 6px;
    width: 23px;
    margin: auto;
    left: 179px;
    right: 0;
    font-size: 11px;
}
.tin    
{
    display: block;
    position: absolute;
    top: 3px;
    width: 23px;
    margin: auto;
    left: 545px;
    right: 0;
    font-size: 11px;
}
/* ----body----*/
#content{
    width: 1400px;
    height: 420px;
    padding-left:72px;
}
/*---slider---*/
#content #line1{
    width: 800px;
    float: left;
    margin-top: 5px;
    height: 360px;
}
#content #line1 #slider{
    width: 800px;
    float: left;
    position: relative;
    background:#FFF;
}
#content #line1 #slider .img{
    width: 800px;
    height: 300px;
}
#content #line1 #slider:hover .controls{
    display: block;
}
#content #line1 #slider .items{
    list-style-type: none;
}
#content #line1 #slider .items li{
    display: inline;
    background: #FFF;
    width: 149px;
    height: 45px;
    float: left;
    padding: 5px 5px;
    text-align: center;
    border-right: solid 1px gray;
}
#content #line1 #slider .items li a{
    line-height: 1.3em;
    font-size: 12px;
    text-decoration: none;
    color: gray;
}
#content #line1 #slider .controls{
    display: none;
}
#content #line1 #slider .controls .btn_prev{
    position: absolute;
    left:10px;
    padding: 10px 13px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #F0E68C;
     width: 25px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
    top: 110px;
}
#content #line1 #slider .controls .btn_next{
    position: absolute;
    right: 10px;
    padding: 10px 13px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #F0E68C;
    width: 25px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
    top: 110px;
}
/* tin */
#content #tcn {
    width: 400px;
    height: 360px;
    float: left;
    margin-left: 5px;
}
#content #tcn #line_1 #line_1_1 {
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin: 5px 0px 5px 0px;
    background:white;
}

#content #tcn #line_1 #line_1_1  h2{
    width:100px;
    height: 20px;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000;
    background-color: yellow;
}
#content #tcn #line_1 #line_1_2 {
    width: 250px;
    height: 20px;
    float: left;
    margin: 5px 0px 5px 40px;
    font-size: 16px;

}

#content #tcn #line_1 #line_1_2 a {
    color: black;
    text-decoration: none;
}

#content #tcn #line_1 #line_1_2 a:hover {
    color: blue;
}

#content #tcn #line_2 #line_2_1 {
    width: 100px;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin: 20px 0px 5px 0px;
    background:white;
}

#content #tcn #line_2 #line_2_1 img {
    width: 100px;
    height: 50px;
}

#content #tcn #line_2 #line_2_2 {
    width: 290px;
    height: 50px;
    float: left;
    margin: 20px 0px 5px 10px;
    font-size: 16px;
    color:#000;
}

#content #tcn #line_2 #line_2_2 a {
    color: black;
    text-decoration: none;
}

#content #tcn #line_2 #line_2_2 a:hover {
    color: blue;
}

#content #tcn #line_3 {
    width: 389px;
    height: 110px;
    float: left;
    margin: 10px 0px 10px 0px;
}
#content #tcn #line_2 #line_2_2 a {
    color: black;
    text-decoration: none;
}
#content #tcn #line_4 {
    width: 405px;
    height: 110px;
    float: left;
    margin: 0px 0px 10px 0px;
}


#ads_1 {
    width: 1200px;
    height: 75px;
    background-color: #FFF;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top:10px;
    margin-left:75px;
}

#kmhot {
    width: 1180px;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-left:75px;
    background:white;
    padding: 10px;
  /*  border-bottom: : solid 1px gray;*/
}
#product1{
    width: 1400px;
    height: 376px;
    padding-left:72px;
    align-content: center;
}
#product1 .pro_line{
    width: 240px;
    height: 350px;
    margin: 0px;
    float: left;
}
#product1 .pro_line a{
    width: 240px;
    height: 313px;
    color: #F0F8FF;
    text-decoration: none;
}
#product1 .pro_line a .pro_line_img {
    width: 200px;
    height: 200px;
}

#product1 .pro_line a .pro_line_img img {
    width: 180px;
    height: 180px;
}
#product1 .pro_line a .pro_line_name {
    width: 220px;
    height: 18px;
    float: left;
    color: black;
}

#product1 .pro_line .pro_line_name h3 {
    color: black;
    text-decoration: none;
}
#product1 .pro_line .pro_line_name h3:hover {
    color: blue;
}

#product1 .pro_line .pro_line_price {
    width: 220px;
    height: 33px;
    color: red;
    float: left;
    line-height: 33px;
    cursor: pointer;
    font-weight: bold;
    font-style: 11px;
}

#product1 .pro_line .pro_line_info {
    width: 210px;
    height: 32px;
    color: gray;
    cursor: pointer;
    float: left;
    font-size: 13px;
}

/* product2: Điện thoại nổi bật nhất*/
#product2{
    width: 1400px;
    margin-left:75px;
}
#product2 #nav{
     width: 1200px;
    height: 46px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
   
    background:white;
    padding: 10px;
    border-bottom: : solid 1px gray;
}
#product2 #nav h2{
    float: left;
    color: black;
    padding: 5px;
}
#product2 #nav #nav1{
    float: left;
    height: 46px;
    width: 800px;
    margin-top:10px;
    margin-left: 150px; 
}
#product2 #nav #nav1 li{
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-size: 14px;
}
#product2 #nav #nav1 li a{
    text-decoration: none;
    color: #48D1CC;
}
#product2 #nav #nav1 li a: hover{
    text-decoration: underline;
}
#product2 #home_pro{
    width: 1200px;
    height: 630px;
    float: left;
    margin: 10px;
}
#product2 #home_pro .feature{
   float: left
}
#product2 #home_pro .feature a {
    text-decoration: none;
    float: left;
}
#product2 #home_pro .feature a .img_ft{
    width: 480px;
}
#product2 #home_pro .l{
    float: left;width:240px;
    height: 314px;
}
 #product2 #home_pro .l .home_img{
    width: 200px;
    height: 200px;
}

 #product2 #home_pro .l .home_img img {
    width: 180px;
    height: 180px;
}
#product2 #home_pro .l .home_name {
    width: 220px;
    height: 18px;
    float: left;
    color: black;
}
.home_name h3 {
    color: black;
    text-decoration: none;
    padding-left:10px;
}
.home_name h3:hover {
    color: blue;
}
.home_price {
    width: 220px;
    height: 33px;
    color: red;
    float: left;
    line-height: 33px;
    cursor: pointer;
    font-weight: bold;
    font-style: 11px;
    padding-left:10px;
}
.home_info {
    width: 210px;
    height: 32px;
    color: gray;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding-left:10px;
}