body {
}

#cahd #lbl_login_error span{
    color:red;
}

#cahd .login-container .page-content{
    /* background:url(../images/logo-congan.png) no-repeat scroll center; */
}

#cahd .border-warning-400 {
    border-color: #1aef22;
    -webkit-animation:colorchange 3s infinite alternate;
}

#cahd .text-warning-400 {
    color: #1aef22;
    -webkit-animation:colorchange 3s infinite alternate;
}

.login-container .login-form, .login-container .registration-form {
    margin: 0 auto 20px auto;
}
.login-container .login-form {
    width: 320px;
}

.login-container .content-wrapper {
    vertical-align: middle;
    display: table-cell;
}

.login-container .footer {
    left: 0;
    right: 0;
    text-align: center;
}

@-webkit-keyframes colorchange {
      0% {
        opacity:1;
      }

      10% {
        opacity:1;
      }

      20% {
        opacity:1;
      }

      30% {
        opacity:1;
      }
      40% {
        opacity:0.8;
      }

      50% {
        opacity:0.6;
      }

      60% {
        opacity:0.5;
      }

      70% {
        opacity:0.3;
      }
      80% {
        opacity:0.2;
      }
      90% {
        opacity:0;
      }
      100% {
        opacity:0;
      }
    }