/* reset css*/
*{margin: 0; 
padding:0;
}
body{
	background: #F0F0F0;
	font-family: arial;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

#header{
	width: 100%;
	height: 55px;
	background: #fed700;
	float: left;
}

#header .wrapper{
	background:#000;
	height:55px;
}

#header #logo{
	width: 155px;
    height: 30px;
	background: url('images/icondesktop@1x.png') no-repeat scroll;
	float: left;
	margin: 10px 5px;
}

#header #search{
	width: 200px;
    height: 50px;
    float: left;
    position: relative;
    margin-left: 50px;
}

#header #search #txtSearch{
    font-size: 12px;
    text-indent: 10px;
    padding: 12px 12px;
    border-radius: 5px;
    border: solid 1px gray;
    margin: 8px -41px;
}

#header #search .search-icon{
	width: 30px;
    height: 30px;
    background: url(images/icondesktop@1x.png) no-repeat scroll;
    background-position: -156px 0px;
    position: absolute;
    top: 17px;
    right: 12px;
}


#header ul#main-menu{
	width: 785px;
    height: 55px;
    background: #fed700;
    float: left;
    list-style-type: none;
    margin-left: 0px;
}

#header ul#main-menu li{
	display: inline;
    width: 75px;
    height: 55px;
    float: left;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

#header ul#main-menu li:hover{
	background: #F0F0F0;
	cursor:pointer;
}

#header ul#main-menu li i.icon{
	width: 16px;
    height: 25px;
    display: block;
    margin: 2px auto 11px;
	background-image: url('images/icondesktop@1x.png');
	background-repeat:no-repeat;
}

#header ul#main-menu li i.dt{
	background-position: -190px 0;
}

#header ul#main-menu li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#header ul#main-menu li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#header ul#main-menu i.lt{
	width: 42px !important;
    background-position: -245px 0;
}

#header ul#main-menu i.pk{
	width: 26px !important;
    background-position: -286px 0;
}

#header ul#main-menu i.cu{
	background-position: -315px 0;
    width: 34px !important;
}

#header ul#main-menu i.km{
	background-position: -475px 0;
    width: 22px !important;
}

#header ul#main-menu i.cn{
	background-position: -375px 0;
    width: 29px !important;
}

#header ul#main-menu i.hd{
	background-position: -410px 0;
    width: 25px !important;
}

#header ul#main-menu li.simso,li.thecao{
	text-transform: none !important;
	padding: 5px 5px;
	font-size:13px !important;
	height:45px !important;
}

#content{
	min-height: 700px;
}

#content #line-1{
	margin-top: 10px;
	width: 1200px;
	float:left;
	background:#F0F0F0;
}

#content #line-1 #slider{
	width: 790px;
	float:left;
	position: relative;
	overflow: hidden;
}

#content #line-1 #slider .slider-images{
	height: 300px;
	width: 790px;
}

#content #line-1 #slider:hover .controls{
	display: block;
}

#content #line-1 #slider .slider-items{
	list-style-type:none;
}

#content #line-1 #slider .slider-items li{
	display: inline;
	background: #FFF;
	width: 145px;
	height: 55px;
	float:left;
	padding: 5px 5px;
	text-align:center;
	border-right: solid 1px gray;
}

#content #line-1 #slider .slider-items li a{
	line-height: 1.3em;
	font-size: 12px;
	text-decoration: none;
	color: gray;
}

#content #line-1 #slider .controls{
	display:none;
}

#content #line-1 #slider .controls .btn-prev{
	position: absolute;
    left: 10px;
    padding: 10px 13px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 25px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
	top: 110px;
}

#content #line-1 #slider .controls .btn-next{
	position: absolute;
    right: 10px;
    padding: 10px 13px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 25px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
	top: 110px;
}

#content #line-1 #adv{
	height: 370px;
	width: 410px;
	background: #F0F0F0;
	float: left;
}

#content #line-1 #adv #adv1{
	width: 300px;
	height:50px;
	background:yellow;
	float:left;
}

#content #line-1 #adv #tin{
	width: 410px;
    height: 37px;
    float: left;
    border-bottom: solid 1px #D4D4D4;
}

#content #line-1 #adv #tin #text{
	font-size: 12px;
	margin-left: 30px;
	float: left;
	width: 200px;
	color: red;
}

#content #line-1 #adv #tin #text:hover{
	cursor: pointer;
	color: #2898DD;
}

#content #line-1 #adv #tin h4:hover{
	cursor: pointer;
}

#content #line-1 #adv #tin h4{
	text-transform: uppercase;
    width: 150px;
    float: left;
    background: #FDD504;
    height: 19px;
    border-bottom: #EFEFEF 1px solid;
    line-height: 3px;
    padding-top: 18px;
    padding-left: 10px;
}

#content #line-1 #adv #adv-1{
	height: 70px;
	width: 410px;
	float:left;
}

#content #line-1 #adv #adv-1:hover{
	cursor: pointer;
	color: #2898DD;
}

#content #line-1 #adv #adv-1 img{
	width: 100px;
	float: left;
	margin: 10px 10px;
}

#content #line-1 #adv #adv-1 #tin{
	width: 260px;
	float: left;
}

#content #line-1 #adv #adv-1 li{
	width: 250px;
	float: left;
	font-size: 14px;
	list-style-type: none;
	margin-top: 10px;
}

#content #line-1 #adv #adv-2{
	height: 110px;
	width: 400px;
	margin: 10px 10px;
	float:left;
	background-image: url('images/01_08_2018_07_02_05_j7proplus-Thang8_398-110.png')
}

#content #line-1 #adv #adv-2:hover{
	cursor: pointer;
	color: #2898DD;
}

#content #line-1 #adv #adv-3{
	height: 110px;
	width: 400px;
	float:left;
	background-image: url('images/31_07_2018_16_35_24_iPhone-X-398-110.png');
	margin: 10px 10px;
}

#content #line-1 #adv #adv-3:hover{
	cursor: pointer;
	color: #2898DD;
}

#content #qc:before{
	width: 1200px;
	height: 75px;
	float: left;
	margin: 5px 0 10px 0;
	display: block;
}

#content #line-2{
	width: 100%;
	height: 428px;
	float: left;
}

#content #line-2 #gia_soc{
	float: center;
	background-size: 309px 38px;
    width: 310px;
    height: 38px;
    position: absolute;
    left: 50%;
    top: 521px;
    margin-left: -154px;
	background-image: url('images/gsct.png')
}

#content #line-2 #slider{
	border: 1px solid #D4D4D4;
    margin-top: 30px;
    overflow: visible;
    padding-top: 20px;
	width: 1200px;
	height: 372px;
	background: white;
}

#content #line-2 #slider .sanpham{
	width: 220px;
	overflow: hidden;
	float:left;
	position:relative;
	padding: 10px;
}

#content #line-2 #slider .sanpham img{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-2 #slider .sanpham img:hover{
	margin: 6px auto 24px;
}

#content #line-2 #slider .sanpham label.giamgia{
	background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
	position: absolute;
	top: 187px; 
	left: 10px;
	padding: 0 5px;
	color: #FFF;
	height: 18px;
	display: inline-block;
    font-size: 11px;
    font-weight: 600;
    border-radius: 10px;
}

#content #line-2 #slider .sanpham h3{
	font-size: 18px;
	width: 240px;
	margin-top: 18px;
}

#content #line-2 #slider .sanpham h3:hover{
	color: #1883D7;
}

#content #line-2 #slider .sanpham p.gia{
	font-size: 18px;
    width: 240px;
    margin-top: 8px;
    color: red;
    font-weight: bold;
}

#content #line-2 #slider .sanpham .khuyenmai{
	width: 240px;
	margin-top: 10px;
	font-size: 13px;
	color: #929292;
}
#content #line-2 #slider .sanpham .khuyenmai img{
	width: 35px; 
	height: 35px;
	float: left;
	margin-top: 0px;
}

#content #line-3{
	list-style: none;
    height: 45px;
    width: 1200px;
	line-height: 46px;
}

#content #line-3 #ten{
	float: left;
    width: 249px;
    height: 49px;
    margin-top: 17px;
    padding-left: 10px;
    background: white;
}

#content #line-3 #menu{
	float: left;
    width: 763px;
    height: 25px;
    margin-top: 17px;
    padding: 25px 5px 0 167px;
    background: white;
}

#content #line-3 #menu li{
	display: inline;
    margin: 0px 10px;
    line-height: 0px;
    float: left;
    height: 5px;
    font-size: 14px;
    font-family: arial;
    padding: 0px 5px 5px 5px;
    text-align: left;
    color: #288AD6;
}

#content #line-3 #menu li:hover{
	cursor:pointer;
	color:#288AD6;
	text-decoration: underline;
}

#content #line-3 #menu li i{
	width: 36px;
    height: 35px;
    margin: 12px auto 13px;
}

#content #line-4{
    width: 100%px;
	height: 286px;
	position: relative;
}

#content #line-4 #sp1{
    width: 476px;
    height: 285px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-4 #sp1 #oppo_x{
    width: 150px;
    height: 20px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
}

#content #line-4 #sp1 #oppo_x:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-4 #sp1 #oder{
	color: white;
    font-size: 11px;
    width: 99px;
    height: 22px;
    float: left;
    margin-left: 200px;
    line-height: 23px;
    background-color: red;
}

#content #line-4 #sp1 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 69px;
    margin-left: -150px;
    font-weight: bold;
}

#content #line-4 #sp1 .installment{
    display: inline-block;
    position: absolute;
    top: 1200px;
    left: 356px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-4 #sp{
    width: 720px;
	height: 285px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-4 #sp .col{
	width: 200px;
    height: 285px;
    margin-top: 15px;
}

#content #line-4 #sp #sp2{
	float: left;
	margin-left: 15px;
}

#content #line-4 #sp #sp2 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-4 #sp #sp2 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-4 #sp #sp2 #images:hover{
	margin: 6px auto 24px;
}

#content #line-4 #sp #sp2 #j8{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
}

#content #line-4 #sp #sp2 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-4 #sp #sp2 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-4 #sp #sp2 .installment{
    display: inline-block;
    position: absolute;
    top: 1136px;
    left: 500px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-4 #sp #sp3{
    float: left;
	margin-left: 20px;
}

#content #line-4 #sp #sp3 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-4 #sp #sp3 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-4 #sp #sp3 #images:hover{
	margin: 6px auto 24px;
}

#content #line-4 #sp #sp3 #iphone8{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
}

#content #line-4 #sp #sp3 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-4 #sp #sp3 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-4 #sp #sp3 .installment{
    display: inline-block;
    position: absolute;
    top: 1136px;
    left: 720px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-4 #sp #sp4{
    float: left;
	margin-left: 25px;
}

#content #line-4 #sp #sp4 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-4 #sp #sp4 #j6{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
}

#content #line-4 #sp #sp4 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-4 #sp #sp4 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-4 #sp #sp4 .installment{
    display: inline-block;
    position: absolute;
    top: 1136px;
    left: 946px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}


#content #line-4 #sp #sp4 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-4 #sp #sp4 #images:hover{
	margin: 6px auto 24px;
}


#content #line-5{
    width: 100%px;
	height: 310px;
	position: relative;
}

#content #line-5 #sp1{
    width: 476px;
    height: 300px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-5 #sp1 #a6{
    width: 200px;
    height: 20px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
}

#content #line-5 #sp1 #a6:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-5 #sp1 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 69px;
    margin-left: -200px;
    font-weight: bold;
}

#content #line-5 #sp1 .installment{
    display: inline-block;
    position: absolute;
    top: 1200px;
    left: 400px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #e91e63;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-5 #sp1 #price:hover{
	cursor: pointer;
}

#content #line-5 #sp{
    width: 720px;
	height: 300px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-5 #sp .col{
	width: 200px;
    height: 285px;
	margin-top: 27px;
}

#content #line-5 #sp #sp2{
	float: left;
	margin-left: 15px;
}

#content #line-5 #sp #sp2 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-5 #sp #sp2 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-5 #sp #sp2 #images:hover{
	margin: 6px auto 24px;
}

#content #line-5 #sp #sp2 #nokia{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: -30px;
}

#content #line-5 #sp #sp2 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-5 #sp #sp2 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-5 #sp #sp2 .installment{
    display: inline-block;
    position: absolute;
    top: 1148px;
    left: 500px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-5 #sp #sp3{
    float: left;
	margin-left: 20px;
}

#content #line-5 #sp #sp3 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-5 #sp #sp3 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-5 #sp #sp3 #images:hover{
	margin: 6px auto 24px;
}

#content #line-5 #sp #sp3 #ip8{
    width: 200px;
    height: 22px;
    float: left;
    color: black;
	font-size: 14px;
	margin-left: 10px;
	margin-top: -25px;
}

#content #line-5 #sp #sp3 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: 8px;
    margin-left: 10px;
}

#content #line-5 #sp #sp3 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -6px;
}

#content #line-5 #sp #sp3 .installment{
    display: inline-block;
    position: absolute;
    top: 1148px;
    left: 723px;
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 0px 7px;
    padding-left: 0;
    padding-right: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    height: 18px;
}

#content #line-5 #sp #sp4{
    float: left;
	margin-left: 25px;
}

#content #line-5 #sp #sp4 #anh{
	width: 200px;
	height: 15px;
	float: left;
	margin: 20px;
}

#content #line-5 #sp #sp4 #images{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-5 #sp #sp4 #images:hover{
	margin: 6px auto 24px;
}

#content #line-5 #sp #sp4 #ip6{
    width: 200px;
    height: 163px;
    float: left;
    color: black;
    line-height: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: -30px;
}

#content #line-5 #sp #sp4 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -110px;
    margin-left: 10px;
}

#content #line-5 #sp #sp4 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -139px;
}

#content #line-5 #sp #sp4 .installment{
    display: inline-block;
    position: absolute;
    top: 1148px;
    left: 948px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0px 5px;
    height: 18px;
}


#content #line-6{
	list-style: none;
    height: 45px;
    width: 1200px;
	line-height: 46px;
}

#content #line-6 #ten{
	float: left;
    width: 249px;
    height: 49px;
    margin-top: 17px;
    padding-left: 10px;
    background: white;
}

#content #line-6 #menu{
	float: left;
    width: 828px;
    height: 25px;
    margin-top: 17px;
    padding: 25px 5px 0 102px;
    background: white;
}

#content #line-6 li{
	display: inline;
    margin: 0px 10px;
    line-height: 0px;
    float: left;
    height: 5px;
    font-size: 14px;
    font-family: arial;
    padding: 0px 5px 5px 5px;
    text-align: left;
    color: #288AD6;
}

#content #line-6 #menu li i{
	width: 36px;
    height: 35px;
    margin: 12px auto 13px;
}

#content #line-6 #menu li:hover{
	cursor:pointer;
	color:#288AD6;
	text-decoration: underline;
}

#content #line-7{
    width: 100%px;
	height: 335px;
	position: relative;
}

#content #line-7 #sp1{
    width: 476px;
    height: 360px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-7 #sp1 #Acer_Aspire{
    width: 363px;
    height: 20px;
    float: left;
    color: black;
    line-height: 30px;
    font-size: 15px;
    margin-left: 10px;
}

#content #line-7 #sp1 #Acer_Aspire:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-7 #sp1 #oder{
	color: white;
    font-size: 11px;
    width: 99px;
    height: 22px;
    float: left;
    margin-left: 200px;
    line-height: 23px;
    background-color: red;
}

#content #line-7 #sp1 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 69px;
    margin-left: -365px;
    font-weight: bold;
}

#content #line-7 #sp1 .installment{
    display: inline-block;
    position: absolute;
    top: 1229px;
    left: 408px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-7 #sp{
    width: 720px;
	height: 360px;
    float: left;
	border-top: solid 1px #D4D4D4;
	background: white;
}

#content #line-7 #sp .col{
	width: 200px;
    height: 285px;
	margin-top: 27px;
}

#content #line-7 #sp #sp2{
	float: left;
	margin-left: 15px;
}

#content #line-7 #sp #sp2 #images img{
	width: 180px;
	height: 180px;
	float: left;
	margin: 20px;
}

#content #line-7 #sp #sp2 #images img{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-7 #sp #sp2 #images img:hover{
	margin: 6px auto 24px;
}

#content #line-7 #sp #sp2 #Swift{
    width: 225px;
    height: 177px;
    float: left;
    color: black;
    line-height: 17px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

#content #line-7 #sp #sp2 #Swift:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-7 #sp #sp2 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: -113px;
    margin-left: 10px;
}

#content #line-7 #sp #sp2 #km img{
	display: block;
    width: 35px;
    height: 35px;
    float: left;
    margin: -5px 5px;
}

#content #line-7 #sp #sp2 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -140px;
}

#content #line-7 #sp #sp2 .installment{
    display: inline-block;
    position: absolute;
    top: 1168px;
    left: 500px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #f28902;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

#content #line-7 #sp #sp3{
    float: left;
	margin-left: 20px;
}

#content #line-7 #sp #sp3 #images img{
	width: 180px;
	height: 180px;
	float: left;
	margin: 20px;
}

#content #line-7 #sp #sp3 #images img{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-7 #sp #sp3 #images img:hover{
	margin: 6px auto 24px;
}

#content #line-7 #sp #sp3 #ipad2018{
    width: 200px;
    height: 22px;
    float: left;
    color: black;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
}

#content #line-7 #sp #sp3 #ipad2018:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-7 #sp #sp3 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: 8px;
    margin-left: 10px;
}

#content #line-7 #sp #sp3 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 12px;
}

#content #line-7 #sp #sp3 .installment{
    display: inline-block;
    position: absolute;
    top: 1168px;
    left: 720px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 0 5px;
    height: 18px;
}

#content #line-7 #sp #sp4{
    float: left;
	margin-left: 20px;
}

#content #line-7 #sp #sp4 #images img{
	width: 180px;
	height: 180px;
	float: left;
	margin: 20px;
}

#content #line-7 #sp #sp4 #images img{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-7 #sp #sp4 #images img:hover{
	margin: 6px auto 24px;
}

#content #line-7 #sp #sp4 #Aspire_ES1{
    width: 200px;
    height: 22px;
    float: left;
    color: black;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
}

#content #line-7 #sp #sp4 #Aspire_ES1:hover{
	cursor: pointer;
	color: #288AD6;
}

#content #line-7 #sp #sp4 #km{
    font-size: 11px;
    width: 188px;
    height: 22px;
    float: left;
    line-height: 13px;
    margin-top: 8px;
    margin-left: 10px;
}

#content #line-7 #sp #sp4 #km img{
	display: block;
    width: 35px;
    height: 35px;
    float: left;
    margin: -5px 5px;
}

#content #line-7 #sp #sp4 #price{
	float: left;
    font-size: 14px;
    color: #e10c00;
    line-height: 22px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 12px;
}

#content #line-8{
	list-style: none;
    height: 45px;
    width: 1200px;
	line-height: 46px;
}

#content #line-8 #ten{
	float: left;
    width: 146px;
    height: 50px;
    margin-top: 17px;
    padding-left: 10px;
    background: white;
}

#content #line-8 #menu{
	float: left;
    width: 909px;
    height: 26px;
    margin-top: 17px;
    padding: 24px 5px 0 130px;
    background: white;
}

#content #line-8 #menu li{
	display: inline;
    margin: 0px 10px;
    line-height: 0px;
    float: left;
    height: 5px;
    font-size: 14px;
    font-family: arial;
    padding: 0px 5px 5px 5px;
    text-align: left;
    color: #288AD6;
}

#content #line-8 #menu li:hover{
	cursor:pointer;
	color:#288AD6;
	text-decoration: underline;
}

#content #line-8 #menu li i{
	width: 36px;
    height: 35px;
    margin: 12px auto 13px;
}


#content #line-8 #slider{
	border-top: 1px solid #D4D4D4;
    overflow: visible;
	width: 1200px;
	height: 300px;
	background: white;
	float: left;
}

#content #line-8 #slider .sanpham{
	width: 220px;
	overflow: hidden;
	float:left;
	position:relative;
	padding: 10px;
}

#content #line-8 #slider .sanpham img{
	width: 180px;
	height: 180px;
	transition: all ease 200ms;
	margin: 15px auto;
}

#content #line-8 #slider .sanpham img:hover{
	margin: 6px auto 24px;
}

#content #line-8 #slider .sanpham label.giamgia{
	background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
    padding-right: 10px;
	position: absolute;
	color: #FFF;
	top: 187px; 
	left: 10px;
	padding: 0 5px;
	height: 18px;
	display: inline-block;
    font-size: 11px;
    font-weight: 600;
	line-height: 17px;
}

#content #line-8 #slider .sanpham p.gia{
	font-size: 18px;
    width: 240px;
    margin-top: -5px;
    color: red;
    font-weight: bold;
}

#content #line-8 #slider .sanpham .khuyenmai{
	width: 240px;
    margin-top: -5px;
    font-size: 13px;
    color: #929292;
    line-height: 18px;
}
#content #line-8 #slider .sanpham .khuyenmai img{
	width: 35px; 
	height: 35px;
	float: left;
	margin-top: 0px;
}

#content #line-9{
	list-style: none;
    height: 45px;
    width: 1200px;
	line-height: 46px;
}

#content #line-9 #ten{
	float: left;
    width: 1190px;
    height: 215px;
    margin-top: 17px;
    padding-left: 10px;
    background: white;
}

#content #line-9 img{
	float: left;
	width: 380px;
	height: 147px;
	margin: 10px 5px;
}

#content #promotion {
	height: 120px;
	width: 1000px;
	background: green;
	float:left;
	margin: 10px 0px;
}

#footer{
	height: 195px;
	width: 100%;
	background: white;
	float:left;
	margin-top: 20px;
	position: relative;
}

#footer #col1{
	height: 110px;
	width: 320px;
	display: block;
    color: #288ad6;
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
	float: left;
}

#footer #col1 li{
	list-style: none;
}

#footer #col1 li:hover{
	cursor: pointer;
	color: #666666;
}

#footer #col2{
	height: 110px;
	width: 320px;
	display: block;
    color: #288ad6;
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
	float: left;
}

#footer #col2 li{
	list-style: none;
}

#footer #col2 li:hover{
	cursor: pointer;
	color: #666666;
}

#footer #col3{
	height: 110px;
	width: 320px;
	display: block;
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
	float: left;
}

#footer #col3 li{
	list-style: none;
}

#footer #col3 .icon{
	background-image: url(images/icondesktop@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 38px;
    width: 123px;
    line-height: 30px;
    vertical-align: middle;
	background-position: -4px -54px;
}

#footer #col3 .icon:hover{
	cursor: pointer;
}

#footer #col4{
	height: 118px;
    width: 150px;
    display: block;
    font-size: 14px;
    line-height: 25px;
    margin-top: 25px;
    float: left;
    margin-left: 65px;
}

#footer #col4:hover{
	cursor: pointer;
}

#footer #col4 #facebook{
	background-image: url(images/icondesktop@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 15px;
    line-height: 16px;
    vertical-align: middle;
    background-position: 1px -29px;
    float: left;
    margin: 4px 0px 0 0;   
}

#footer #col4 p{
	width: 16px;
	color: #288ad6;
	margin: 0 10px 0 0;
	float: left;
}

#footer #col4 p:hover{
	cursor: pointer;
}

#footer #col4 #youtube{
	background-image: url(images/icondesktop@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 20px;
    line-height: 16px;
    vertical-align: middle;
    background-position: -15px -28px;
    float: left;
    margin: 4px 0 0 41px;
    color: #288ad6;
}

#footer #col4 li{
	list-style: none;
}

#footer #col4 #word{
	float: left;
	color: #A3A3A3;
	margin-top: 2px;
}

#footer #col4 .icon{
	background-image: url(images/logosite.png);
    background-repeat: no-repeat;
    display: inline-block;
	height: 25px;
    width: 111px;
    line-height: 30px;
    vertical-align: middle;
    background-position: -108px 2px;
}

#footer #col4 .icon_bhx{
	background-image: url(images/logosite.png);
    background-repeat: no-repeat;
    display: inline-block;
	height: 25px;
    width: 111px;
    line-height: 30px;
    vertical-align: middle;
    background-position: -218px 2px;
}

#footer #col4 .icon_vui{
	background-image: url(images/logosite.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-position: -328px 2px;
}

#footer #col4 .icon_ta{
	background-image: url(images/logosite.png);
    background-repeat: no-repeat;
    display: inline-block;
	height: 25px;
    width: 111px;
    line-height: 30px;
    vertical-align: middle;
    background-position: -407px 2px;
}

#copyright{
	width: 100%;
	height: 40px;
    min-width: 980px;
    overflow: hidden;
    background: #f8f8f8;
    padding: 10px 0;
}

#copyright p{
	width: 1350px;
	font-size: 10px;
	color: #999999;
	background: #F8F8F8;
	text-align: center;
	margin: auto;
	line-height: 20px;
}