#text_mau_do{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
#text_mau_xanh{
	color: green;
	font-weight: bold;
	font-size: 20px;
}
#text_mau_vang{
	color: yellow;
	font-weight: bold;
	font-size: 20px;
}
#mau_nen_vang
{
	background-color:yellow;
	width:300;
	height:200;
}
#mau_nen_xanh
{
	background-color:green;
	width:300;
	height:200;
}#mau_nen_xam
{
	background-color:gray;
	width:300;
	height:200;
}
#border_xanh
{	

	border: dashed 3px blue ;
	width:300;
	height:200;
}
#anh_co_dinh
{
body {
    background-image: url('1.jpg');
}
}