/* reset css*/
*{margin: 0; padding:0}
body{
	background:gray;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
	background:#000;
	height:55px;
}

#header{
	width: 100%;
	height: 55px;
	background: yellow;
	float: left;
}

#header #logo{
	width: 30px;
    height: 30px;
	background: url('../images/icondesktop@1x.png') no-repeat scroll;
	float: left;
	margin: 10px 5px;
}

#header #search{
	width: 250px;
	height: 50px;
	float: left;
	position: relative;
}

#header #search #txtSearch{
    font-size: 10px;
    text-indent: 10px;
    padding: 9px 20px;
    border-radius: 5px;
    border: solid 1px gray;
    margin: 12px 18px;
}

#header #search .search-icon{
	width: 30px;
    height: 30px;
    background: url(../images/icondesktop@1x.png) no-repeat scroll;
    background-position: -156px 0px;
    position: absolute;
    top: 16px;
    right: 25px;
}


#header ul#main-menu{
	width: 910px;
	height: 55px;
	background: #fed700;
	float: left;
	list-style-type:none;
}

#header ul#main-menu li{
	display: inline;
	width: 85px;
	height: 55px;
	float: left;
	text-transform:uppercase;
	font-size: 12px;
	text-align:center;
}

#header ul#main-menu li:hover{
	background: #F0F0F0;
	cursor:pointer;
}

#header ul#main-menu li i.icon{
	width: 16px;
    height: 25px;
    display: block;
    margin: 2px auto 11px;
	background-image: url('../images/icondesktop@1x.png');
	background-repeat:no-repeat;
}

#header ul#main-menu li i.dt{
	background-position: -190px 0;
}

#header ul#main-menu li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#header ul#main-menu li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#content{
	background: white;
	min-height: 700px;
}

#content #line-1{
	height: 300px;
	width: 1000px;
	background: orange;
	float:left;
}

#content #line-1 #slider{
	height: 300px;
	width: 650px;
	background: violet;
	float:left;
}

#content #line-1 #adv-1{
	height: 300px;
	width: 350px;
	background: brown;
	float:left;
}

#content .product-cat{
	height: 350px;
	width: 1000px;
	background: blue;
	float:left;
	margin: 10px 0px;
}

#content #promotion {
	height: 120px;
	width: 1000px;
	background: green;
	float:left;
	margin: 10px 0px;
}

#footer{
	height: 150px;
	width: 100%;
	background: white;
	float:left;
}

#footer .col{
	height: 110px;
	width: 230px;
	background: cyan;
	float:left;
	margin: 10px;
}