h1{
	color: blue;
}
*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: 100%;
	height: 55px;
	background: #FF8C00;
	float: left;
}
#header #logo{
	width: 130px;
	height: 55px;
	float: left;
	background-color: black;
    margin: 0 0 0 30px;
}
#header #logo img{
	width: 130px;
	height: 55px;
	display: inline;
	line-height: 23px;
	cursor: pointer;
}
#header #search{
	height: 55px;
	background-color: black;
	float: left;
}
#header #search input[type=text]{
	padding: 8px;
	border:none;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 17px;
	border-radius: 5px;
}
#header #menu{
	width: 800px;
	height: 55px;
	float: left;
}
#header #menu #list_2{
	list-style-type: none;
}
#list_2 li{
	display: inline;
	width: 80px;
	line-height: 27px;
	text-transform: uppercase;
	background-color: #FF8C00;
	float: left;
	height: 40px;
	font-size: 12px;
	padding: 0px 5px 5px 5px;
	text-align: center;
}
#line_2 li: hover{
	cursor: pointer;
	background-color: #FAEBD7;
}

#list_2 li i{
	width: 18px;
	height: 25px;
	display: block;
	margin: 2px auto 3px;
	background-image: url('icondesktop@1x.png');
	background-repeat: no-repeat;
}

#list_2 li i.dt{
	background-position: -190px 0;
}
#list_2 li i.tb{
	width: 34px;
	background-position: -209px 0;
}
#list_2 li i.lt{
	width: 40px;
	background-position: -245px 0;
}
#list_2 li i.pk{
	width: 26px;
	background-position: -286px 0;
}
#list_2 li i.cgr{
	width: 40px;
	background-position: -315px 0;
}
#list_2 li i.km{
	width: 26px;
	background-position: -473px 0;
}
#list_2 li i.cn{
	width: 32px;
	background-position: -375px 0;
}
#list_2 li i.hd{
	width: 26px;
	background-position: -410px 0;
}
#header .sstc{
	background-color: #FF8C00;
}
	
