*{margin 0;padding:0;}	body{ background:#f0f0f0;}
section {margin: 65px auto 0;} 
body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 13px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
color: #333;outline: none;}
header {
    position: absolute;
    top: 0;
    min-width: 1024px;
    background: #fed700;
    width: 100%;
    height: 55px;
	text-align:center;
	margin-left:-8px;
}
footer {
    width: 100%;min-width: 1024px;margin: 0 auto;
    background: #fff;overflow: hidden;clear: both;
}
.clr {
    clear: both;
}
#list_2
{
	width: 780px;
    height: 55px;
    background: #fed700;
    float: left;
    list-style-type: none;
	margin:auto;
}
.menu 
{
	max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    background: #000;
    margin: auto;
    position: relative;
    display: block;
}

#list_2{
	list-style-type:none;
	
}

#list_2 li{
	display: inline;
    line-height: 23px;
    text-transform: uppercase;
    background-color: #FED700;
    float: left;
    height: 27px;
    font-size: 11px;
    padding: 0px 10px 28px 10px;
    text-align: center;
}

#list_2 li:hover{
	cursor:pointer;
	background-color:#B9BBC0;
}

#list_2 li i{
	width: 16px;
    height: 25px;
    display: block;
    margin: 6px auto 3px;
	background-image: url('../images/icondesktop@1x.png');
	background-repeat:no-repeat;
}

#list_2 li i.dt{
	background-position: -190px 0;
}

#list_2 li i.tb{
	width: 34px;
    background-position: -209px 0;
}

#list_2 li i.lt{
	width: 40px;
    background-position: -245px 0;
}#list_2 li i.pk{
	width: 25px;
    background-position: -287px 0;
}
#list_2 li i.cgr{
	width: 34px;
    background-position: -315px 0;
}
#list_2 li i.km{
	width: 22px;
    background-position: -475px 0;
}#list_2 li i.cn{
	width: 29px;
    background-position: -376px 0;
}
#list_2 li i.hd{
	width: 25px;
    background-position: -409px 0;
}
#list_2 li.ss
{
	text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    border-left: 1px solid rgba(0,0,0,.1);
	line-height:27px;
}
#list_2 li.dt
{
	width:94px;
	text-transform: none;
    font-size: 13px;
    vertical-align: middle;
    border-left: 1px solid rgba(0,0,0,.1);
	line-height:27px;
}
.may 
{
	display: block;
    position: absolute;
    top: 10px;
    width: 23px;
    margin: auto;
    left: 274px;
    right: 0;
    font-size: 11px;
}
.tin	
{
	display: block;
    position: absolute;
    top: 6px;
    width: 23px;
    margin: auto;
    left: 612px;
    right: 0;
    font-size: 11px;
}
.icontgdd-logo {
    background-position: 0 0;
    width: 156px;
    height: 30px;
    display: block;
    margin: auto;
	background-image: url('../images/icondesktop@1x.png');
}
.logo {
    float: left;
    width: 165px;
    display: block;
    padding: 14px 0 11px 5px;
}
#search-site {
    float: left;
    width: 230px;
    height: 35px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.topinput {
    float: left;
    width: 162px;
    margin-left: 5px;
    padding-top: 5px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0;
	background-image: url('../images/icondesktop@1x.png');	
}
#content
{
	width:1200px;
	height:360px;
	margin: 0 auto;
    padding: 0;
}
#content #qc
{	
	width:800px;
	height:55px;
    background: #fff
	font-size: 12px;
}
#list_3 
{
	width: 800px;
    height: 55px;
    background: white;
    float: left;
    list-style-type: none;
    margin-top: 5px;
}
#list_3 li
{
    width: 138px;
    display: inline;
    line-height: 23px;
    text-transform: uppercase;
    float: left;
    height: 27px;
    font-size: 11px;
    padding: 0px 10px 28px 10px;
    text-align: center;
}
.solid
{
        border-right: 1px solid #3f3f3f;

}
#content_right
{
    width: 398px;
    float: right ;
    margin-top: -355px;
}
#content_right #tin_cn
{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    background: #fff;
    height: 38px;

}
#content_right #tin_cn h2
{
    float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: auto;
}
#content_right #tin_cn h2::after
{
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
#content_right ul
{
    display: block;
    overflow: hidden;
    
}
#content_right ul li
{
    display: block;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #ededed;
    background: #fff;
    height: 60px;

}
#content_right ul li a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}
#content_right ul li img
{
    float: left;
    width: 100px;
    height: 57px;
    margin: 0 10px 0 0;
}
#content_right ul li h3
{
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin: 0 0 5px 0;

}
#content_right ul li span
{   
    float: left;
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}
#content_right .img_content
{
    margin: -8px 0 15px 0;
}
#banner
{
    text-align: center;
}
.gia-soc
{
    width: 1200px;
    float: left;
    background: #FFF;
    margin: 45px 0 0 65px ;
    border: 1px solid #ff4d00;
    overflow: visible;
    padding-top: 20px;
    position: relative;
    height: 373px;
}
.gia-soc::before
{
    background: url('images/gsct.png') no-repeat center center;
    width: 309px;
    height: 38px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -154px;
    z-index: 9;
    content: ' ';
    display: block;
    background-size: 303px;
}
.sanpham
{
    width: 220px;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
}

.gia-soc .sanpham img{
    width: 180px;
    height: 180px;
    transition: all ease 200ms;
    margin: 15px auto;
}

.sanpham a
{
    text-decoration: none;
    color: #333;
}
.giamgia
{
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
    padding-right: 10px;
    position: absolute;
    top: 158px;
    left: 10px;
    padding: 5px 5px;
    color: #FFF;
}#sanpham h3
{
    font-size: 18px;
    width: 240px;
    margin-top: 18px;
}
#qua_km img
{
    width: 35px;
    height: 35px;
    float: left;
    transition: all ease 200ms;
    margin: 15px auto;
}
p.gia
{
    font-size: 18px;
    width: 240px;
    margin-top: 8px;
    color: red;
    font-weight: bold;
}
p.km
{
    font-size: 12px;
    width: 190px;
    padding-top: 14px;
    color: red;

}

