table#table_1{
	border-collapse:collapse;
	border: solid 2px #0E4D7D;
}

table#table_1 thead{
	background: #1883D7;
	color: white;
}

table#table_1 td{
	padding: 5px;
}

table#table_1 tr:hover{
	cursor:pointer;
	background: #9BD941;
	color: white;
}