#viennetlien{
	width: 300px;
	height: 100px;
	background-color: blue;
	color: white;
	border: 1px solid black;
}
#viennetdut{
	width: 300px;
	height: 100px;
	background-color: red;
	color: white;
	border: 3px dashed blue;
}
#vienbotron{
	width: 300px;
	height: 100px;
	background-color: yellow;
	color: red;
	border-radius: 10px;
}