<html>
   <head>
		<meta charset="utf-8" />
		<title>Template | Trang chủ</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
    <body>
		<div id="header">
			<div class="wrapper">
				<div id="logo"></div>
				<div id="search">
				<input type="text" size="30" placeholder="Bạn tìm gì..." id="txtSearch" />
				<i class="search-icon"></i>
				</div>
                 <ul id="main-menu">
					<li>
						<i class="icon dt"></i>
						Điện thoại
					</li>
					<li>
						<i class="icon tb"></i>
						Tablet
					</li>
					<li>
						<i class="icon lt"></i>
						Laptop
					</li>
					<li>
						<i class="icon pk"></i>
						Phụ kiện
					</li>
					<li>
						<i class="icon cu"></i>
						Cũ giá rẻ
					</li>
					<li>
						<i class="icon km"></i>
						Khuyến mãi
					</li>
					<li>
						<i class="icon cn"></i>
						Công nghệ
					</li>
					<li>
						<i class="icon hd"></i>
						Hỏi đáp
					</li>
					<li class="simso">Sim số <br/> Thẻ cào</li>
					<li class="thecao">Đóng tiền điện, nước trả góp</li>
				</ul>
			</div>
		</div>
	   <div id="content" class="wrapper">
	       <div id="line-1">
		       <div id="slider">
			     <img  class="slider-ảnh"   src="hinh ảnh/slider1.png" />
				 <ul class="slider-items">
				    <li>
					   <a href="#">Đặt Trước Huawei Nova 3i Nhận Quà 1.2 Triệu <i class="item-border"></i></a>
					</li>
					<li>
					  <a href="#">Galaxy A6+ Giá Mới 8.290.000đ</a>
					  <i class="item-border"></i>
					</li>
					<li>
					   <a href="#">Độc Quyền Nokia 3.1</a>
					   <i class="item-border"></i>
					</li>
					<li>
					   <a href="#">Trả Góp 0%, Trúng Vespa OPPO Ưu Đãi</a>
						<i class="item-border"></i>
					</li>
					<li>
					  <a href="#">Loa Vi Tính Đồng Loạt Giảm 20%</a>
					</li>
				 </ul>
				 <div class="controls">
						<div class="btn btn-prev"><</div>
						<div class="btn btn-next">></div></div>
			   </div>
		       <div id="adv-1"> 
			      <div id="header-adv">
				      <div id="tin"> <h5>tin công nghệ </h5></div>
					  <div id="mobi" style ="color:red"> Mobifone TẶNG 20% gía trị thẻ nạp-<br/> 01/08</div>
				  </div>
				  <div id="dong2">
				      <img src="hinh ảnh/p.jpg" width="100" height="70" class="ảnh" />
					  <div id="chữ-dong2"><a> Cùng "đọ hàng" iPhone LCD 6.1 inch với iPhone X Plus 6.4 inch qua video mới </a></div>
				  </div>
				  <div id="dong3">
				       <img src="hinh ảnh/2.png"  width="398.30" height="110" />
				  </div>
				  <div id="dong4">
				       <img src="hinh ảnh/3.png"  />
				  </div>
			   </div>
		   </div>
		   <div id="content-2">
		         <div id="c18"><h4>18 KHUYẾN MÃI HOT NHẤT</h4> </div>
				 <ul id="list-dt">
				     <li>
					    <img src="hinh ảnh/hu.jpg"  width="200"/>
					    Huawei Nova 3i
						<h4 style ="color:red">6.990.000đ </h4>
						<h5>Tặng tai nghe blutooth,bảo hành tận nhà ,miếng dán,ốp lưng,trả góp 0%</h5>
						<label class="preorder">Đặt trước đến 03/08</label>
					</li>
					 <li> 
					 <img src="hinh ảnh/samjpg.jpg"  width="200"/>
					    Galaxy J7 Pro
				        <h4 style ="color:red">6.090.000đ </h4>
						<h5>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và 1 k.mãi khác </h5>
						<label class="preorder">Đặt trước đến 03/08</label>
					</li>
					 <li> 
					 <img src="hinh ảnh/oppo.jpg"  width="200"/>
					     OPPO F7
						  <h4 style ="color:red">7.990.000đ </h4>
						<h5>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và 2 k.mãi khác </h5>
						<label class="preorder">Đặt trước đến 03/08</label>
					 </li>
					 <li>
					 <img src="hinh ảnh/galaxy.jpg"  width="200"/>
            			Galaxy J7 Prime
						 <h4 style ="color:red">4.990.000đ </h4>
						<h5>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và 2 k.mãi khác </h5>
						<label class="preorder">Đặt trước đến 03/08</label>
					</li>
					 <li> 
					 <img src="hinh ảnh/xi.jpg"  width="200"/>
					    Xiaomi Mi 8
						 <h4 style ="color:red">12.990.000đ </h4>
						<h5>Cơ hội trúng 38 xe Wave Alpha khi trả góp Home Credit và 1 k.mãi khác </h5>
						<label class="preorder">Đặt trước đến 03/08</label>
					</li>
					 
				 </ul>
		   </div>
		   <div class="product-cat"> line product-cat</div>
		   <div id="thu">
		   <div id="dau">
		      <div class="wrapper">
		           <div id="pkgr">PHỤ KIỆN GIÁ RẺ</div>
			       <div id="menu"> 
				       <ul id="list_1">
					      <li> Pin sạc dự phòng </li>
					      <li> Cáp sạc</li>
					      <li> Thẻ nhớ</li>
						  <li> Tai nghe</li>
						  <li> Loa</li>
						  <li> Phụ kiện chính hãng </li>
						  <li> Gậy tự sướng</li>
						  <li> Xem tất cả 2.396 phụ kiện</li>
						 
					   
					   </ul>   	   
				   </div>
			  </div>
		   </div>
		   <div id="ô"> 
		       <div class="wrapper">
		       <ul id="list_2">
		         <li> 
				     <img src="hinh ảnh/pin-sac-du-phong-polymer-10000mah-evalu-pa-l10-11-600x600.jpg" width="200" />
				       eValu PA L10
					   <h4 style ="color:red">400.000đ </h4>
				 </li>
		         <li>
				     
					 <img src="hinh ảnh/loa.jpg" width="200" />
				        Mifa BV150
						<h4 style ="color:red">260.000đ   <del style ="color:gray">400.000đ</del></h4>
				 </li>
				 <li> 
				     
					 <img src="hinh ảnh/cap.jpg" width="200" />
				        Cáp Xmobile MU03
						<h4 style ="color:red">24.000đ   <del style ="color:gray">40.000đ</del></h4>
				 </li>
		         <li>
				      
					  <img src="hinh ảnh/the.jpg" width="200" />
				     Micro SD 8 GB class 4
					 <h4 style ="color:red">150.000đ <del style ="color:gray">200.000đ</del></h4>
				</li>
				 <li>
				      
					  <img src="hinh ảnh/tai.jpg" width="200" />
				     Tai nghe chụp tai Kanen ib-892
					 <h4 style ="color:red">195.000đ   <del style ="color:gray">300.000đ</del></h4>
				 </li>
			   </ul>
		     </div>
		   </div>
		   </div>
	   <div id="promotion"> line product-cat</div>
	   <div id="footer">
	      <div class="wrapper">
	           <div class="col"> col-1</div>
		       <div class="col"> col-2</div>
		       <div class="col"> col-3</div>
		       <div class="col"> col-4</div>
		  </div>
	   </div>
	</body>


</html>